@charset "UTF-8";
/*
Les utilitaires (UTILS), doivent être placés en premier
dans le code de cette page, pour le bon onctionnement de SASS
*/
/*
/////////////////////////////////////////////////////////
/////////////////////// VARIABLES ///////////////////////
/////////////////////////////////////////////////////////
*/
/*
///////////////////////////////////////////////////////////////
                        MIXINS
///////////////////////////////////////////////////////////////
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
          OMBRE PORTÉE SOUS LES CONTAINERS
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        GROS BOUTONS DÉGRADÉ DU ROSE AU VIOLET
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DE LA PAGE D'ACCUEIL
                     (css layout global)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        MIXIN DES ANIMATIONS : "CARTES PAGES MENUS"
      (Mixin de l'effet d'opacité progressive des cartes)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
CRÉATION DE L'ANIMATION : de révélation progressives des cartes menu.
@keyframes (name): revelation-menu-cards
=> appelée par la @mixin (ci-dessus) : "effet-revelation-carte-mix"
au niveau de : animation-name: revelation-menu-cards;
---------------------------------------------------------------
 */
@keyframes revelation-menu-cards {
  0% {
    opacity: 0;
    transform: translate(0px, 15px);
  }
  100% {
    opacity: 1;
  }
}
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        CLASSES QUI GÈRE L'ORDRE D'APPARITION PROGRESSIVE
      (Mixin de l'effet d'opacité progressive des cartes)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.carte-1 {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(0, 0.63, 0.34, 0.97);
  animation-duration: 1.5s;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}

.carte-2 {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(0, 0.63, 0.34, 0.97);
  animation-duration: 1.5s;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
  animation-delay: 800ms;
}

.carte-3 {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(0, 0.63, 0.34, 0.97);
  animation-duration: 1.5s;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
  animation-delay: 1100ms;
}

.carte-4 {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(0, 0.63, 0.34, 0.97);
  animation-duration: 1.5s;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
  animation-delay: 1400ms;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        ANIMATION : DU BOUTON CIRCULAIRE DES PAGES MENU
  (Effet de l'icone tournante du bouton vert, des cartes menu)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
CRÉATION DE L'ANIMATION : de rotation de l'icône du bouton vert.
@keyframes (name) : over-circle
=> appelée par la @mixin (ci-dessus) : "over-circle-mix"
au niveau de : animation-name: over-circle;
---------------------------------------------------------------
 */
@keyframes over-circle {
  0% {
    transform: rotate(-190deg);
  }
  100% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0.95, 0.38, 1.31);
  }
}
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      3 PETITS POINTS APRÈS UN TEXTE TROP LONG
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                     MEDIAS QUERIES
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
 AFFICHAGE : TABLETTE
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 768px
               L'affichage adapté aux : "TABLETTES"
---------------------------------------------------------------
DEFINITION :
La fonction : map-get(), permet de retourner une valeur associée
à une clé:valeur, définie dans une map.
$size : correspond à un ensemble "clé/valeur" attendu comme argument.

*/
/*
---------------------------------------------------------------
MIXIN : TABLETTE Abrégées
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
MIXIN : TABLETTE Abrégées par groupes
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
/* AFFICHAGE : DESKTOP
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 992px
                L'affichage adapté aux : "DESKTOP"
---------------------------------------------------------------
*/
/*
---------------------------------------------------------------
MIXIN : DESKTOP Abrégées
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
MIXIN : DESKTOP Abrégées par groupes
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 1440px; /* Largeur max du site */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
/////////////////÷÷//// < a > //////////////////////////
*/
a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: black;
}

button {
  border-style: none;
  background-color: transparent;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  padding-top: 20px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 0px;
  }
}
.container__01 {
  margin: 20px auto;
  padding: 0px 20px;
}
@media (min-width: 768px) {
  .container__01 {
    margin: 40px;
    padding-right: 0px;
  }
}
.container__02 {
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .container__02 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 850px) {
  .container__02 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 992px) {
  .container__02 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1100px) {
  .container__02 {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.container__03 {
  padding: 30px 20px;
}
@media (min-width: 768px) {
  .container__03 {
    padding: 30px 50px;
  }
}
.container__04 {
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .container__04 {
    padding: 30px 50px;
  }
}

/*
/////////////////////////////////////////////////////////
/////////////////////// FLEXBOX /////////////////////////
/////////////////////////////////////////////////////////
*/
.d-flex {
  display: flex;
}
.d-flex-fw {
  flex-wrap: wrap;
}
.d-flex-fd-c {
  flex-direction: column;
}
.d-flex-ai-b {
  align-items: baseline;
}
.d-flex-ai-c {
  align-items: center;
}
.d-flex-ai-s {
  align-items: stretch;
}
.d-flex-ai-fe {
  align-items: flex-end;
}
.d-flex-jc-fe {
  justify-content: flex-end;
}
.d-flex-jc-c {
  justify-content: center;
}
.d-flex-jc-sa {
  justify-content: space-around;
}
.d-flex-jc-sb {
  justify-content: space-between;
}

/*
/////////////////////////////////////////////////////////
/////////////////////// MARGES //////////////////////////
/////////////////////////////////////////////////////////
*/
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}

/* Les arguments sont vides, afin de me permettre d'y passer les 4 valeurs,
  attendues pour gérer la prorpiété CSS : (box-shadow: 2px, 5px, 5px, 80%)
  $x:5px, $y:3px, $blur:5px, $pourcentage: 60%
  */
.btn {
  /*
  BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)
  */
  padding: 0px 0px;
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 3px 5px #999999;
}

/* CSS des cartes qui composent les pages menus */
/*
--------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                        CARTES DES PAGES MENU
                  AFFICHAGE MOBILE (CSS par défaut)
-------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.carte-container {
  /*
   ------------------------------------------------------------------------
  .carte-container :classe qui enblobe toute la carte "menu".
   (T) Les cartes s'adaptent en largeur à leur conteneur.
   NE PAS MODIFIER CETTE VALEUR en responsive.
   ------------------------------------------------------------------------ */
  box-shadow: 5px 3px 5px #cccccc;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: #99e2d0;
  /*
   ------------------------------------------------------------------------
  .carte-container__description :
   classe qui enblobe : le h3:titre / <p> paragraphe / <p> tarif

   (Bs-a) = Largeur de la DIV "title" du conteneur "descriptif"
   (Bs-b) = Largeur de la DIV "tarif" du conteneur "descriptif"
   ATTENTION !!!!
   Il est très important de respceter les proportions de division au sein d'un même conteneur.
   Ici le rapport est de : 90% et 10% l'ensemble reste une max-width de 100%.
   ------------------------------------------------------------------------ */
  /*
   ------------------------------------------------------------------------
  .carte-container__check :
   classe qui englobe : le bouton vert.
   (Bz) La largeur de départ du bouton vert est de width:0%,
   et au click ou au survol il passera ) 20%.
   ------------------------------------------------------------------------ */
  /*
  ------------------------------------------------------------------------
  ACTION UTILISATEUR
  ------------------------------------------------------------------------ */
  /* 
  (Ai) La DIV "description" passe à 80% (width:80%) au survol et la DIV "tarif" à 20% (width:20%).
  (1a) Quand on click sur l'ensemble de la carte "Menu",
  la DIV "check" qui forme de bouton vert qui a une largeur de départ de 0% (width:0%),
  elle passe à une largeur de 20% (width:20%),  "AU CLICK" ou au "SURVOL" .
  (2a) Ralentis le mouvement du :hover ou du :active
  (3a) Les bordures de la div tarif redeviennent des angles droit, au survol.
   */
}
.carte-container__description {
  width: 100%;
  border-radius: 15px;
}
.carte-container__description__title {
  width: 80%;
  height: auto;
  border-radius: 15px 0px 0px 15px;
  padding: 13px 10px 8px 15px;
  background-color: white;
}
.carte-container__description__title__h3 {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  margin-bottom: 3px;
}
.carte-container__description__title__p {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 95%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #737373;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.carte-container__description__tarif {
  width: 20%;
  height: auto;
  border-radius: 0px 15px 15px 0px;
  font-weight: 600;
  font-size: 15px;
  padding: 0px 0px 11px 20px;
  background-color: white;
}
.carte-container--check {
  width: 0%;
  overflow: hidden;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
}
.carte-container--check i {
  border-radius: 50px;
  color: white;
  font-size: 25px;
}
.carte-container:active .carte-container__description {
  width: 80%;
  cursor: pointer;
  transition: 600ms;
  border-radius: 15px 0px 0px 15px;
}
.carte-container:active .carte-container__description__tarif {
  border-radius: 0px;
}
.carte-container:active .carte-container--check {
  width: 20%;
}
.carte-container:active .carte-container--check i {
  /* ------------------------------------------ */
  /* APPEL DE L'ANIMATION --------------------- */
  /* ------------------------------------------ */
  animation-name: over-circle;
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-fill-mode: forwards; /* "forwards" Applique les CSS de la dernière @Keyframe */
}

@media (min-width: 600px) {
  .carte-container {
    /* 
    (T) Les cartes s'adaptent en largeur à leur conteneur.
    NE PAS MODIFIER CETTE VALEUR en responsive.
    */
    /*
     ------------------------------------------------------------------------
    .carte-container__description :
     classe qui enblobe : le h3:titre / <p> paragraphe / <p> tarif
     (Bs-a) = Largeur de la DIV "title" du conteneur "descriptif"
     (Bs-b) = Largeur de la DIV "tarif" du conteneur "descriptif"
     ATTENTION !!!!
     Il est très important de respceter les proportions de division au sein d'un même conteneur.
     Ici le rapport est de : 90% et 10% l'ensemble reste une max-width de 100%.

     ------------------------------------------------------------------------ */
    /*
    ------------------------------------------------------------------------
    ACTION UTILISATEUR
    ------------------------------------------------------------------------ */
    /*
    (Ai) La DIV "description" passe à 80% (width:80%) au survol et la DIV "tarif" à 20% (width:20%).
    (1a) Quand on click sur l'ensemble de la carte "Menu",
    la DIV "check" qui forme de bouton vert qui a une largeur de départ de 0% (width:0%),
    elle passe à une largeur de 20% (width:20%),  "AU CLICK" ou au "SURVOL" .
    (2a) Ralentis le mouvement du :hover ou du :active
     */
  }
  .carte-container__description__title {
    width: 90%;
  }
  .carte-container__description__tarif {
    width: 10%;
    padding: 13px 8px 8px 5px;
  }
  .carte-container:active .carte-container__description {
    width: 90%;
  }
  .carte-container:active .carte-container--check {
    width: 10%;
  }
}
@media (min-width: 768px) {
  .carte-container {
    /*
    ------------------------------------------------------------------------
    ACTION UTILISATEUR
    ------------------------------------------------------------------------ */
    /*
    (Ai) La DIV "description" passe à 80% (width:80%) au survol et la DIV "tarif" à 20% (width:20%).
    (1a) Quand on click sur l'ensemble de la carte "Menu",
    la DIV "check" qui forme de bouton vert qui a une largeur de départ de 0% (width:0%),
    elle passe à une largeur de 20% (width:20%),  "AU CLICK" ou au "SURVOL" .
    (2a) Ralentis le mouvement du :hover ou du :active
     */
  }
  .carte-container__description__tarif {
    padding-left: 25px;
  }
  .carte-container:active .carte-container__description {
    width: 90%;
  }
  .carte-container:active .carte-container--check {
    width: 10%;
  }
}
@media (min-width: 850px) {
  .carte-container__description__title {
    width: 80%;
  }
  .carte-container__description__tarif {
    width: 20%;
    padding: 13px 8px 8px 5px;
  }
  .carte-container:hover .carte-container__description {
    width: 80%;
    cursor: pointer;
    transition: 600ms;
    border-radius: 15px 0px 0px 15px;
  }
  .carte-container:hover .carte-container__description__tarif {
    border-radius: 0px;
  }
  .carte-container:hover .carte-container--check {
    width: 20%;
  }
  .carte-container:hover .carte-container--check i {
    /* ------------------------------------------ */
    /* APPEL DE L'ANIMATION --------------------- */
    /* ------------------------------------------ */
    animation-name: over-circle;
    animation-delay: 0s;
    animation-duration: 800ms;
    animation-fill-mode: forwards; /* "forwards" Applique les CSS de la dernière @Keyframe */
  }
}
@media (min-width: 992px) {
  .carte-container__description__tarif {
    padding-left: 15px;
  }
}
@media (min-width: 1100px) {
  .carte-container__description__tarif {
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .carte-container__description__tarif {
    padding-left: 25px;
  }
}
@media (min-width: 1300px) {
  .carte-container__description__title {
    width: 80%;
  }
  .carte-container__description__tarif {
    width: 20%;
    padding-left: 25px;
    padding-right: 35px;
  }
}
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ANIMATION DU COEUR DES CARTES DE LA PAGE D'ACCUEIL
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
POUR INFO :
Comme hover ou active ":checked" permet de cibler les boutons cochés.
*/
/*
Classe qui gère l'animation des cœurs
*/
.heart-animation {
  /*
    icone du coeur de la carte.
    passe au premier plan avec "z-index-1",
    pour être accessible au clique
    */
  z-index: 1;
  max-width: 100%;
  font-size: 30px;
}

/* 
(1) On cible 2 éléments pour les masquer au chargement de la page :
(a) le bouton checkbox par default.
(b) l'icone "coeur" du second-plan
*/
.heart-animation input[type=checkbox],
.heart-animation .second-plan {
  display: none;
}

/*
(2a) Quand l'input est cochée, ":checked"
Grâce au combinateur "~" on cible les classes des élémnents qui se situent, tout de suite après l'input.
Donc, tout de suite après l'input...
(2b) Je cible l'icone du ".premier-plan", pour faire disparaitre son bloc
*/
.heart-animation input[type=checkbox]:checked ~ .premier-plan {
  display: none;
}

/*
(3a) Quand l'input est cochée, ":checked"
Grâce au combinateur "~" on cible les classes des élémnents qui se situent, tout de suite après l'input.
Donc, tout de suite après l'input...
(3b) Je cible l'icone du "second plan", pour faire apparaitre son bloc
*/
.heart-animation input[type=checkbox]:checked ~ .second-plan {
  display: block;
  background-image: linear-gradient(45deg, #ff79da 20%, #9356dc 100%);
  background-size: 100%;
  /* Utiliser le texte comme masque pour l'arrière-plan. */
  /* Cela affichera le dégradé comme une couleur de texte plutôt que comme un élément bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
(3c) LA PROPRITÉTÉ : background-clip
Définit la manière dont l'arrière plan d'un élément s'étend sous la boite de cet éléments.
1) Est-ce que l'arrière plan s'etend jusqu'à la bordure du bloc ?
2) Est-ce que l'arrière plan s'etend jusqu'aux paddind du bloc ?
3) Est-ce que l'arrière plan s'etend jusqu'au contenu du bloc ?
4) Est-ce que l'arrière plan s'etend seulement au text contenu dans le bloc ?
Dans ce dernier cas, pour que l'arrière plan apparaisse dans le texte,
il faudra que la couleur d'origine ou par defaut du texte soit TRANSPARENTE.
*/
/* Règles CSS communes à tous le site */
.footer-box {
  background: #333333;
  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  VERSION TABLETTE
  —---------------------------------------------------------------
  */
}
.footer-box a,
.footer-box i {
  color: white;
}
.footer-box i {
  margin-right: 5px;
}
.footer-box__logo {
  font-size: 20px;
  color: white;
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.footer-box__txt-color {
  margin: 12px auto;
}
@media (min-width: 768px) {
  .footer-box {
    display: flex;
    justify-content: space-around;
  }
}

/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                        LOGO DU SITE
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.logo {
  /* TABLETTE
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  ---------------------------------------------------------------
  */
}
.logo img {
  max-width: 80%;
}
@media (min-width: 768px) {
  .logo {
    display: flex;
    align-items: flex-start;
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      SECTION     >     LOGO      >     LOCALISATION
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.box-home-logo__location {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  box-shadow: inset 0px 5px 5px -2px #b3b3b3;
  background-color: #e6e6e6;
}
.box-home-logo__location__icon {
  margin-right: 10px;
}
.box-home-logo__location input {
  font-size: 16px;
  font-weight: 500;
  width: 50%;
  background-color: transparent;
  border: solid transparent;
}
.box-home-logo__location input::placeholder {
  /* Permet de cibler le pseudo-element placeholder dans l'input texte */
  color: black;
  opacity: 1;
}
@media (min-width: 768px) {
  .box-home-logo__location {
    display: flex;
    justify-content: flex-start;
  }
  .box-home-logo__location input {
    width: 100%;
  }
  .box-home-logo__location__icon {
    margin-left: 30px;
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      TITRE PAGE (h1)+ BOUTON : Explorez nos restaurants
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.box-title {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 50px;
  /* TABLETTE
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 768px
               L'affichage adapté aux : "TABLETTES"
  ---------------------------------------------------------------
  */
}
.box-title p {
  margin: 10px auto;
  font-size: 16px;
  font-weight: 100;
  color: gray;
}
.box-title.btn {
  /*
  BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)
  */
  padding: 0px 25px;
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 3px 5px #999999;
}
@media (min-width: 768px) {
  .box-title p,
  .box-title h1 {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
  .box-title br {
    display: none;
  }
  .box-title div {
    /*
    DIV qui englobe le bouton :
    Explorer nos restaurants
    */
    align-self: flex-end;
    padding-right: 20px;
  }
}

.main-home {
  background-color: #f7f7f7;
}
.main-home h2 {
  margin-bottom: 30px;
  padding-top: 30px;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        CONTENEUR   >  SECTION   >   FONCTIONNEMENT
                (.box-function-container)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.box-function-container {
  padding-bottom: 30px;
  padding-top: 40px;
  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  TABLETTE
  —--------------------------------------------------------------- */
}
@media (min-width: 768px) {
  .box-function-container {
    margin-left: 40px;
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
              SECTION   >   FONCTIONNEMENT
      (Boutons : 1/2/3 de la partie Fonctionnement)
                  (.nav-home-function)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.nav-home-function {
  margin-left: 10px;
  /* TABLETTE
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  ---------------------------------------------------------------
  */
  /* DESKTOP
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  ---------------------------------------------------------------
  */
}
.nav-home-function__btn {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 20px auto;
  padding: 0px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f2f2f2;
  box-shadow: 5px 3px 5px #999999;
}
.nav-home-function__btn__number {
  position: absolute;
  width: 30px;
  height: 30px;
  font-weight: 300;
  background-color: #9356dc;
  color: white;
  border-radius: 20px;
  left: -15px;
}
.nav-home-function__btn__icon {
  margin-right: 20px;
  margin-left: 15px;
  font-size: 20px;
  color: gray;
}
.nav-home-function__btn:hover {
  background-color: #e4d5f6;
}
.nav-home-function__btn:hover .nav-home-function__btn__icon {
  color: #9356dc;
}
@media (min-width: 768px) {
  .nav-home-function {
    display: flex;
    justify-content: left;
  }
  .nav-home-function__btn {
    margin-left: 0px;
    margin-right: 40px;
    font-size: 15px;
  }
  .nav-home-function__btn.mr-30 {
    /*
    Marge à Droite
    de la 3ème carte
    */
    margin-right: 20px;
  }
  .nav-home-function__btn__icon {
    margin-right: 10px;
    margin-left: 8px;
  }
}
@media (min-width: 850px) {
  .nav-home-function {
    display: flex;
    justify-content: space-between;
  }
}

/* CONPONENTS */
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DE LA PAGE D'ACCUEIL
               (Div, qui englobe chaque carte)
                        (ou une carte)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.card-home-layout {
  /*
  DIV : qui englobe chaque carte.
  */
  /*
  CLASSE :
  .card-home-layout
  */
  background-color: white;
  box-shadow: 5px 3px 5px #cccccc;
  border-radius: 20px;
  width: 100%;
  position: relative;
  /*
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        ANIMATION DU COEUR DES CARTES DE LA PAGE D'ACCUEIL
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  */
  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  VERSION : TABLETTE
  --------------------------------------------------------------- */
  /*
  DIV : qui englobe chaque carte version tablette et qui,
  (1) Supprime l'espace en dessous de la dernière carte.
  */
}
.card-home-layout__img {
  /*
  CLASSE :
  .card-home-layout__img
  */
  height: 174px;
  border-radius: 20px 20px 0px 0px;
}
.card-home-layout__box-title {
  /*
  Position intérieure des textes,
  dans la DIV qui contient :
  (1) Le nom de restaurant
  (2) Le lieu
  */
  /*
  CLASSE :
  .card-home-layout__box-title
  */
  padding: 20px;
  height: 75px;
}
.card-home-layout__h3 {
  /*
  CLASSE :
  .card-home-layout__h3
  */
  margin-bottom: 3px;
}
.card-home-layout__principal-link::before {
  /*
  Cette classe est placée sur le lien qui est considéré comme le plus
  important. Le lien prioritaire de la carte. La propriété "inset : 0"
  rend toute la carte cliquable depuis ce lien
  */
  content: "";
  position: absolute;
  border-radius: 20px;
  inset: 0;
}
@media (min-width: 768px) {
  .card-home-layout {
    margin-bottom: 0;
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
              CONTAINER : (qui englobe les 4 cartes)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.card-home-box {
  /*
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                CONTAINER : (qui englobe 2 cartes)
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  */
  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
   VERSION : DESKTOP
  ---------------------------------------------------------------
  */
}
.card-home-box__boxes {
  /*
  CSS par défaut
  (1) Supprime les marges à droites sur la version mobile.
  */
  margin-right: 0px;
  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  VERSION : TABLETTE
  --------------------------------------------------------------- */
  /*
  CONTAINER : qui englobe 2 cartes
  (1) Ajoute une marge en dessous du container supérieur qui englobe 2 cartes.
  */
}
@media (min-width: 768px) {
  .card-home-box__boxes {
    display: flex;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .card-home-box {
    /*
    (1) Aligne les 2 containers qui englobent chacun 2 cartes.
    (2) Les cartes s'adaptent en largeur dans leurs conteneur.
    (3) Espace entre les cartes.
    */
    display: flex;
  }
  .card-home-box__boxes {
    width: 100%;
  }
  .card-home-box .mr-20 {
    margin-right: 20px;
  }
}
@media (min-width: 1100px) {
  .card-home-box {
    /*
    (1) Aligne les 2 containers qui englobent chacun 2 cartes.
    (2) Les cartes s'adaptent en largeur dans leurs conteneur.
    (3) Espace entre les cartes.
    */
    display: flex;
  }
  .card-home-box__boxes {
    width: 100%;
  }
  .card-home-box .mr-20 {
    margin-right: 20px;
  }
}

/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ENCADRÉ DU MOT "NOUVEAU" SITUÉ SUR LES IMGAGES DES CARTES
           en haut à droite de la page d'accueil
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.box-text-new {
  box-shadow: 2px 2px 5px #1a1a1a;
  position: absolute;
  height: 30px;
  padding: 0px 10px 0px 10px;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #2c9c81;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
          ANIMATION LOADING : PAGE D'ACCUEIL
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
 */
.loading-container {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 300px;
  background-color: black;
  /* APPEL DE L'ANIMATION 3
  Qui supprime le bloc qui contient l'animation du loading
  */
  animation-name: visibility-key;
  animation-delay: 5s;
  animation-duration: 1s;
  animation-fill-mode: forwards; /* "forwards" Applique les CSS de la dernière @Keyframe */
}

/*
---------------------------------------------------------------
ANIMATION 3 :
SUPPRESSION DE L'ANIMATION CSS DE LA PAGE D'ACCUEIL
@keyframes (name): "visibility-key"
=> appelée par la classe : ".loading-container"
au niveau de : animation-name: visibility-key.
---------------------------------------------------------------
*/
/* ANIMATION 3
Supprime le bloc qui contient l'animation du loading
*/
@keyframes visibility-key {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 1%;
    visibility: hidden;
  }
}
/*
---------------------------------------------------------------
ANIMATION 1 :
CRÉATION DE L'ANIMATION CSS : du conteneur vert qui englobe le logo.
@keyframes (name): "box-animation-keyframe"
=> appelée par la classe : ".box"
au niveau de : animation-name: box-animation-keyframe.
---------------------------------------------------------------
*/
.box {
  font-family: "Shrikhand", cursive;
  padding: 0px 30px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* APPEL DE L'ANIMATION 1
  Qui augmente la taille du conteneur vert en partant de width: 0% à 100%
  */
  animation-name: box-animation-keyframe;
  animation-delay: 0s;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0, 1.27, 1, 0.98);
  animation-fill-mode: forwards; /* "forwards" Applique les CSS de la dernière @Keyframe */
}

/* ANIMATION 1
Augmente la taille du conteneur vert en partant de width: 0% à 100%
*/
@keyframes box-animation-keyframe {
  0% {
    width: 0%;
    height: 0%;
    opacity: 0;
    border-radius: 0px;
    animation-timing-function: cubic-bezier(0, 1.27, 1, 0.98);
  }
  100% {
    width: 300px;
    height: 50px;
    opacity: 1;
    border-radius: 100px;
    box-shadow: 1px 1px 50px #99e2d0;
  }
}
/*
---------------------------------------------------------------
ANIMATION 2 :
CRÉATION DE L'ANIMATION CSS : des lettres du mot : Ohmyfood !
@keyframes (name): "letter-animation-keyframe"
=> appelée par la classe : ".logo-letter"
au niveau de : animation-name: letter-animation-keyframe.
---------------------------------------------------------------
*/
.letter {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: black;
  /* APPEL DE L'ANIMATION 2
  Qui augmente la taille des lettres du logo de : transform: scale(0) à transform: scale(0.7);
  */
  animation-name: letter-animation-keyframe;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: both; /* "both"appliquent Les styles CSS, au début et à la fin de la cible */
}

/* ANIMATION 2
Augmente la taille des lettres du logo de : transform: scale(0) à transform: scale(0.7);
*/
@keyframes letter-animation-keyframe {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  20% {
    transform: scale(0.1);
  }
  30% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(0.4);
  }
  60% {
    transform: scale(0.5);
  }
  70% {
    transform: scale(0.6);
  }
  80% {
    transform: scale(0.7);
  }
  90% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
    letter-spacing: 5px;
    opacity: 1;
  }
}
/*
---------------------------------------------------------------
ANIMATION 3 :
CRÉATION DE L'ANIMATION CSS : couleur style neon, des lettres du mot : Ohmyfood !
@keyframes (name): "neon-keyframe"
=> appelée par la classe : ".color"
au niveau de : animation-name: neon-keyframe.
---------------------------------------------------------------
*/
.color {
  animation-name: neon-keyframe;
  animation-timing-function: linear; /* Fluidité linéaire */
  animation-iteration-count: infinite; /* Animation répétée à l'infinie */
  /*
  L'ANIMATION 3
  Va s'appliquer alternativement sur chaque lettre du mot "Ohmyfood!"
  */
}
.color:nth-child(1) {
  animation-delay: 0.1s;
}
.color:nth-child(2) {
  animation-delay: 0.2s;
}
.color:nth-child(3) {
  animation-delay: 0.3s;
}
.color:nth-child(4) {
  animation-delay: 0.4s;
}
.color:nth-child(5) {
  animation-delay: 0.5s;
}
.color:nth-child(6) {
  animation-delay: 0.6s;
}
.color:nth-child(7) {
  animation-delay: 0.7s;
}
.color:nth-child(8) {
  animation-delay: 0.8s;
}
.color:nth-child(9) {
  animation-delay: 0.9s;
}

/*
ANIMATION 3
Crée un effet de va et viens entre 2 couleurs : Ohmyfood !
*/
@keyframes neon-keyframe {
  0% {
    color: #fface8;
    text-shadow: 0 0 0 8px #ff46cc;
  }
  80% {
    color: black;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    color: #fface8;
    text-shadow: 0 0 0 8px #ff46cc;
  }
}

/*# sourceMappingURL=a-home.css.map */
