@charset "UTF-8";
/*
Les utilitaires (UTILS), doivent être placés en premier
dans le code de cette page, pour le bon onctionnement de SASS
*/
/*
/////////////////////////////////////////////////////////
/////////////////////// VARIABLES ///////////////////////
/////////////////////////////////////////////////////////
*/
/*
///////////////////////////////////////////////////////////////
                        MIXINS
///////////////////////////////////////////////////////////////
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
          OMBRE PORTÉE SOUS LES CONTAINERS
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        GROS BOUTONS DÉGRADÉ DU ROSE AU VIOLET
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DE LA PAGE D'ACCUEIL
                     (css layout global)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DES PAGES MENUS
      (Mixin de l'effet d'opacité progressive des cartes)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      3 PETITS POINTS APRÈS UN TEXTE TROP LONG
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                     MEDIAS QUERIES
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/* DESKTOP
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 992px
                L'affichage adapté aux : "DESKTOP"
---------------------------------------------------------------
DEFINITION :
La fonction : map-get(), permet de retourner une valeur associée
à une clé:valeur, définie dans une map.
$size : correspond à un ensemble "clé/valeur" attendu comme argument.

*/
/*
---------------------------------------------------------------
MIXIN : DESKTOP Abrégées
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
MIXIN : DESKTOP Abrégées par 3
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/* TABLETTE
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 768px
               L'affichage adapté aux : "TABLETTES"
---------------------------------------------------------------
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°

---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 1440px; /* Largeur max du site */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
/////////////////÷÷//// < a > //////////////////////////
*/
a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: black;
}

button {
  border-style: none;
  background-color: transparent;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  padding-top: 20px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 0px;
    border: solid 2px rgb(34, 255, 0);
  }
}
.container__01 {
  margin: 20px auto;
  padding: 0px 20px;
}
@media (min-width: 768px) {
  .container__01 {
    margin: 40px;
    padding-right: 0px;
  }
}
.container__02 {
  padding: 40px 20px;
}
@media (min-width: 850px) {
  .container__02 {
    border: solid 3px rgb(255, 213, 0);
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: ) {
  .container__02 {
    border: solid 3px rgb(255, 213, 0);
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .container__02 {
    border: solid 3px rgb(255, 213, 0);
    padding-left: 50px;
    padding-right: 50px;
  }
}
.container__03 {
  padding: 30px 20px;
}
@media (min-width: 768px) {
  .container__03 {
    padding: 30px 50px;
    border: solid 2px rgb(255, 21, 0);
  }
}
.container__04 {
  padding: 0px 15px;
}
@media (min-width: 768px) {
  .container__04 {
    padding: 30px 50px;
    border: solid 10px rgb(255, 204, 0);
  }
}

/*
/////////////////////////////////////////////////////////
/////////////////////// FLEXBOX /////////////////////////
/////////////////////////////////////////////////////////
*/
.d-flex {
  display: flex;
}
.d-flex-fw {
  flex-wrap: wrap;
}
.d-flex-fd-c {
  flex-direction: column;
}
.d-flex-ai-b {
  align-items: baseline;
}
.d-flex-ai-c {
  align-items: center;
}
.d-flex-ai-s {
  align-items: stretch;
}
.d-flex-ai-fe {
  align-items: flex-end;
}
.d-flex-jc-fe {
  justify-content: flex-end;
}
.d-flex-jc-c {
  justify-content: center;
}
.d-flex-jc-sa {
  justify-content: space-around;
}
.d-flex-jc-sb {
  justify-content: space-between;
}

/*
/////////////////////////////////////////////////////////
/////////////////////// MARGES //////////////////////////
/////////////////////////////////////////////////////////
*/
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}

/* Les arguments sont vides, afin de me permettre d'y passer les 4 valeurs,
  attendues pour gérer la prorpiété CSS : (box-shadow: 2px, 5px, 5px, 80%)
  $x:5px, $y:3px, $blur:5px, $pourcentage: 60%
  */
.btn {
  /*
  BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)
  */
  padding: 0px 0px;
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 3px 5px #999999;
}

/* CSS des cartes qui composent les pages menus */
/*
--------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                    @Keyframes des boites "menu"
-------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
 @keyframes d'opacité => appelé par ma @mixin : "effet-revelation-carte"
---------------------------------------------------------------
 */
@keyframes revelation-menu-cards {
  0% {
    opacity: 0;
    transform: translate(0px, 15px);
  }
  100% {
    opacity: 1;
  }
}
/*
---------------------------------------------------------------
 @keyframes d'opacité => appelé par ma @mixin : "effet-revelation-carte"
---------------------------------------------------------------
 */
@keyframes over-circle {
  0% {
    transform: rotate(-190deg);
  }
  100% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0.95, 0.38, 1.31);
  }
}
/*
--------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                        CARTES DES PAGES MENU
        Ces 2 containers imbriqués sont necessaires pour accuiellir
      les cartes menus et l'effet du bouton qui arrive par la droite.
-------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.container-principal {
  box-shadow: 5px 3px 5px #999999;
  border-radius: 15px;
  position: relative;
  height: 70px;
  overflow: hidden;
}

.container-secondaire {
  position: absolute;
  right: -71px;
}

/* -------------------------------------------------------- */
.carte-1 {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(0, 0.63, 0.34, 0.97);
  animation-duration: 1.5s;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}

.carte-2 {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(0, 0.63, 0.34, 0.97);
  animation-duration: 1.5s;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
  animation-delay: 800ms;
  top: 14px;
}

.carte-3 {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(0, 0.63, 0.34, 0.97);
  animation-duration: 1.5s;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
  top: 28px;
  animation-delay: 1100ms;
}

.carte-4 {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(0, 0.63, 0.34, 0.97);
  animation-duration: 1.5s;
  animation-delay: 1700ms;
  animation-fill-mode: backwards;
  top: 42px;
  animation-delay: 1400ms;
}

/* -------------------------------------------------------- */
.container-box-menu {
  height: 70px;
  width: 92%;
}
.container-box-menu__left {
  padding: 18px 5px 4px 15px;
  background-color: white;
  width: 83%;
}
.container-box-menu__left:active {
  width: 66%;
  cursor: pointer;
  transition: 700ms;
}
.container-box-menu:active i {
  /* -------------------------------------------------------- */
  /* APPEL ANIMATION ---------------------------------------- */
  /* -------------------------------------------------------- */
  animation-name: over-circle;
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-fill-mode: forwards; /* "forwards" Applique les CSS de la dernière @Keyframe */
}
.container-box-menu .card-menu-box {
  width: 329px;
  max-width: 86%;
  /*
  (1) Positionne la carte des menus en largeur dans son container.
  (2) Donne une limita maximale en largeur du container qui englobe le h3 et le p.
  */
}
.container-box-menu .card-menu-box__h3 {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 98%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  margin-bottom: 4px;
}
.container-box-menu .card-menu-box__p {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 98%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #737373;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.container-box-menu .card-menu-box__price {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 7.7px;
  background-color: white;
}
.container-box-menu .card-menu-box--click {
  width: 70px;
  height: 100%;
  left: 100%;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 5px 3px 5px #cccccc;
  background-color: #99e2d0;
}
.container-box-menu .card-menu-box--click i {
  border-radius: 50px;
  color: white;
  font-size: 25px;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ANIMATION DU COEUR DES CARTES DE LA PAGE D'ACCUEIL
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
Classe qui gère l'animation des cœurs
*/
.heart-animation {
  /*
    icone du coeur de la carte.
    passe au premier plan avec "z-index-1",
    pour être accessible au clique
    */
  z-index: 1;
  max-width: 100%;
  font-size: 30px;
}

/* 
(1) On masque le bouton : checkbox par default
ainsi que l'icone "coeur" du second-plan */
.heart-animation input[type=checkbox],
.heart-animation .second-plan {
  display: none;
}

/* (2) Quand l'icone du premier-plan est coché,
elle disparait */
.heart-animation input[type=checkbox]:checked ~ .premier-plan {
  display: none;
}

/* (3) Quand l'icone du premier-plan est coché,
l'icone du second-plan apparait */
.heart-animation input[type=checkbox]:checked ~ .second-plan {
  display: block;
  background-image: linear-gradient(45deg, #ff79da 20%, #9356dc 100%);
  background-size: 100%;
  /* Utiliser le texte comme masque pour l'arrière-plan. */
  /* Cela affichera le dégradé comme une couleur de texte plutôt que comme un élément bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Règles CSS communes à tous le site */
.footer-box {
  background: #333333;
}
.footer-box a,
.footer-box i {
  color: white;
}
.footer-box i {
  margin-right: 5px;
}
.footer-box__logo {
  font-size: 20px;
  color: white;
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.footer-box__txt-color {
  margin: 12px auto;
}

/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                        LOGO DU SITE
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.logo img {
  max-width: 80%;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      SECTION     >     LOGO      >     LOCALISATION
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.box-home-logo__location {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  box-shadow: inset 0px 5px 5px -2px #b3b3b3;
  background-color: #e6e6e6;
}
.box-home-logo__location__icon {
  margin-right: 10px;
}
.box-home-logo__location input {
  font-size: 16px;
  font-weight: 500;
  width: 50%;
  background-color: transparent;
  border: solid transparent;
}
.box-home-logo__location input::placeholder {
  /* Permet de cibler le pseudo-element placeholder dans l'input texte */
  color: black;
  opacity: 1;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      TITRE PAGE (h1)+ BOUTON : Explorez nos restaurants
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.box-title {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 50px;
  /* TABLETTE
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 768px
               L'affichage adapté aux : "TABLETTES"
  ---------------------------------------------------------------
  */
}
.box-title p {
  margin: 10px auto;
  font-size: 16px;
  font-weight: 100;
  color: gray;
}
.box-title.btn {
  /*
  BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)
  */
  padding: 0px 25px;
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 3px 5px #999999;
}
@media (min-width: 768px) {
  .box-title p,
  .box-title h1 {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
  .box-title br {
    display: none;
  }
  .box-title div {
    /*
    DIV qui englobe le bouton :
    Explorer nos restaurants
    */
    align-self: flex-end;
    padding-right: 20px;
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        CONTENEUR   >  SECTION   >   FONCTIONNEMENT
                (.box-function-container)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.box-function-container {
  padding-bottom: 30px;
  padding-top: 40px;
}
@media (min-width: 768px) {
  .box-function-container {
    margin-left: 40px;
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
              SECTION   >   FONCTIONNEMENT
      (Boutons : 1/2/3 de la partie Fonctionnement)
                  (.nav-home-function)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.nav-home-function {
  margin-left: 10px;
  /* TABLETTE
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  ---------------------------------------------------------------
  */
  /* DESKTOP
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  ---------------------------------------------------------------
  */
}
.nav-home-function__btn {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 20px auto;
  padding: 0px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f2f2f2;
  box-shadow: 5px 3px 5px #999999;
}
.nav-home-function__btn__number {
  position: absolute;
  width: 30px;
  height: 30px;
  font-weight: 300;
  background-color: #9356dc;
  color: white;
  border-radius: 20px;
  left: -15px;
}
.nav-home-function__btn__icon {
  margin-right: 20px;
  margin-left: 15px;
  font-size: 20px;
  color: gray;
}
.nav-home-function__btn:hover {
  background-color: #e4d5f6;
}
.nav-home-function__btn:hover .nav-home-function__btn__icon {
  color: #9356dc;
}
@media (min-width: 768px) {
  .nav-home-function {
    display: flex;
    justify-content: left;
  }
  .nav-home-function__btn {
    margin-left: 0px;
    margin-right: 40px;
    font-size: 15px;
  }
  .nav-home-function__btn.mr-30 {
    /*
    Marge à Droite
    de la 3ème carte
    */
    margin-right: 20px;
  }
  .nav-home-function__btn__icon {
    margin-right: 10px;
    margin-left: 8px;
  }
}
@media (min-width: 850px) {
  .nav-home-function {
    display: flex;
    justify-content: space-between;
  }
}

.main-home {
  background-color: #f7f7f7;
}
.main-home h2 {
  margin-bottom: 20px;
}

/* CONPONENTS */
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DE LA PAGE D'ACCUEIL
               (Div, qui englobe toute la carte)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.card-home-layout {
  /*
  CLASSE :
  .card-home-layout
  */
  background-color: white;
  box-shadow: 5px 3px 5px #cccccc;
  border-radius: 20px;
  position: relative;
  /*
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        ANIMATION DU COEUR DES CARTES DE LA PAGE D'ACCUEIL
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  */
}
.card-home-layout__img {
  /*
  CLASSE :
  .card-home-layout__img
  */
  height: 174px;
  border-radius: 20px 20px 0px 0px;
}
.card-home-layout__box-title {
  /*
  Position intérieure des textes,
  dans la DIV qui contient :
  (1) Le nom de restaurant
  (2) Le lieu
  */
  /*
  CLASSE :
  .card-home-layout__box-title
  */
  padding: 20px;
  height: 75px;
}
.card-home-layout__h3 {
  /*
  CLASSE :
  .card-home-layout__h3
  */
  margin-bottom: 3px;
}
.card-home-layout__principal-link::before {
  /*
  Cette classe est placée sur le lien qui est considéré comme le plus
  important. Le lien prioritaire de la carte. La propriété "inset : 0"
  rend toute la carte cliquable depuis ce lien
  */
  content: "";
  position: absolute;
  border-radius: 20px;
  inset: 0;
}

/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ENCADRÉ DU MOT "NOUVEAU" SITUÉ SUR LES IMGAGES DES CARTES
           en haut à droite de la page d'accueil
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.box-text-new {
  box-shadow: 2px 2px 5px #1a1a1a;
  position: absolute;
  height: 30px;
  padding: 0px 10px 0px 10px;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #2c9c81;
}

/*# sourceMappingURL=a-home.css.map */
