@charset "UTF-8";
/*
LES UTILITAIRES :
Ils doivent être à placer en premier dans le code
pour le bon fonctionnement de SASS
*/
/* 1 - UTILS */
/*
/////////////////////////////////////////////////////////
/////////////////////// VARIABLES ///////////////////////
/////////////////////////////////////////////////////////
*/
/*
/////////////////////////////////////////////////////////
//////////////////////// MIXINS /////////////////////////
/////////////////////////////////////////////////////////
*/
/* 2 - GLOBAL CSS */
/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 375px; /* Largeur max du site pour du mobile first */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
/////////////////÷÷//// < a > //////////////////////////
*/
a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: black;
}

button {
  border-style: none;
  background-color: transparent;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  padding-top: 20px;
  margin: auto;
}
.container__01 {
  margin: 20px auto;
  padding: 0px 20px;
}
.container__02 {
  padding: 40px 20px;
}
.container__03 {
  padding: 30px 20px;
}

/*
/////////////////////////////////////////////////////////
/////////////////////// FLEXBOX /////////////////////////
/////////////////////////////////////////////////////////
*/
.d-flex {
  display: flex;
}
.d-flex-fw {
  flex-wrap: wrap;
}
.d-flex-fd-c {
  flex-direction: column;
}
.d-flex-ai-b {
  align-items: baseline;
}
.d-flex-ai-c {
  align-items: center;
}
.d-flex-ai-s {
  align-items: stretch;
}
.d-flex-ai-fe {
  align-items: flex-end;
}
.d-flex-jc-c {
  justify-content: center;
}
.d-flex-jc-sa {
  justify-content: space-around;
}
.d-flex-jc-sb {
  justify-content: space-between;
}

/* CONPONENTS */
/* Les arguments sont vides, afin de me permettre d'y passer les 4 valeurs,
  attendues pour gérer la prorpiété CSS : (box-shadow: 2px, 5px, 5px, 80%)
  $x:5px, $y:3px, $blur:5px, $pourcentage: 60%
  */
.btn {
  /* BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)  */
  padding: 0px 0px;
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 3px 5px #999999;
}

/* MISES EN PAGES COMMUNES : LAYOUT : SASS */
.footer-box {
  background: #333333;
}
.footer-box a,
.footer-box i {
  color: white;
}
.footer-box i {
  margin-right: 5px;
}
.footer-box__logo {
  font-size: 20px;
  color: white;
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.footer-box__txt-color {
  margin: 12px auto;
}

.main-menus {
  background-color: #f2f2f2;
}
.main-menus__bg-top {
  position: absolute;
  width: 375px;
  padding-top: 30px;
  margin-bottom: 70px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f2f2f2;
}
.main-menus h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}
.main-menus.btn {
  /* BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)  */
  padding: 0px 40px;
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 3px 5px #999999;
}

.section-food {
  /*
  SETION Commprenant : 
  (1) Les titres (Plats, Entrées, Desserts)
  (2) Et une série de 3 cards
  */
  padding: 0px 10px;
}
.section-food__h2 {
  font-size: 20px;
  font-weight: 300;
  width: 14%;
  height: 38px;
  border-bottom: solid 4px #99e2d0;
  padding-top: 5px;
  margin: 30px 0px 20px 10px;
  color: gray;
}
.section-food__simple-box {
  box-shadow: 5px 3px 5px #999999;
  height: 70px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
}
.section-food__simple-box__price {
  font-weight: 800;
}
.section-food__h3 {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 270px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  margin-bottom: 2px;
  margin: 0;
}
.section-food__p {
  color: #737373;
}

.mb-menu {
  margin-bottom: 15px;
}

.check-box-card {
  position: absolute;
  width: 290px;
  border-radius: 20px 0px 0px 20px;
}
.check-box-card h3 {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.check-box-card__click-box {
  position: relative;
  width: 60px;
  height: 70px;
  border-radius: 0px 20px 20px 0px;
  left: 290px;
  box-shadow: 5px 3px 5px #999999;
  background-color: #99e2d0;
}
.check-box-card__click-box i {
  border-radius: 50px;
  color: white;
  font-size: 25px;
}

.header-menu {
  height: 65px;
  margin: auto 20px;
}
.header-menu i {
  font-size: 25px;
  margin-right: 65px;
}

/*# sourceMappingURL=b-menu-01.css.map */
