@charset "UTF-8";
/*
LES UTILITAIRES :
Ils doivent être à placer en premier dans le code
pour le bon fonctionnement de SASS

UTILS */
/*
/////////////////////////////////////////////////////////
/////////////////////// VARIABLES ///////////////////////
/////////////////////////////////////////////////////////
*/
/* GLOBAL CSS */
/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 375px; /* Largeur max du site pour du mobile first */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
/////////////////÷÷//// < a > //////////////////////////
*/
a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: black;
}

button {
  border-style: none;
  background-color: transparent;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  padding-top: 20px;
  margin: auto;
}
.container__01 {
  margin: 20px auto;
  padding: 0px 20px;
}
.container__02 {
  padding: 40px 20px;
}
.container__03 {
  padding: 30px 20px;
}

/*
/////////////////////////////////////////////////////////
///////////////////////// FLEXBOX ///////////////////////
/////////////////////////////////////////////////////////
*/
.d-flex {
  display: flex;
}
.d-flex-fw {
  flex-wrap: wrap;
}
.d-flex-fd-c {
  flex-direction: column;
}
.d-flex-ai-b {
  align-items: baseline;
}
.d-flex-ai-c {
  align-items: center;
}
.d-flex-ai-s {
  align-items: stretch;
}
.d-flex-ai-fe {
  align-items: flex-end;
}
.d-flex-jc-c {
  justify-content: center;
}
.d-flex-jc-sa {
  justify-content: space-around;
}
.d-flex-jc-sb {
  justify-content: space-between;
}

/* CONPONENTS */
.btn {
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 50px auto;
  padding: 0px 0px;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 5px 5px #cccccc;
}

/* MISES EN PAGES : LAYOUT : SASS */
.nav {
  margin-left: 10px;
}
.nav__btn {
  position: relative;
  max-width: 100%;
  height: 70px;
  margin: 20px auto;
  padding: 0px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #cccccc;
}
.nav__btn__number {
  position: absolute;
  width: 30px;
  height: 30px;
  font-weight: 300;
  background-color: #9356dc;
  color: white;
  border-radius: 20px;
  left: -15px;
}
.nav__btn__icon {
  margin-right: 20px;
  margin-left: 15px;
  font-size: 20px;
  color: gray;
}
.nav__btn:hover {
  background-color: #e4d5f6;
}
.nav__btn:hover .nav__btn__icon {
  color: #9356dc;
}

.footer-box {
  background: #333333;
}
.footer-box a,
.footer-box i {
  color: white;
}
.footer-box i {
  margin-right: 5px;
}
.footer-box svg {
  margin-bottom: 15px;
  width: 40%;
}
.footer-box svg path {
  fill: white;
}
.footer-box__txt-color {
  margin: 12px;
}

.main-home {
  background-color: #f7f7f7;
}
.main-home h2 {
  margin-bottom: 20px;
}

.main-menus {
  background-color: #f2f2f2;
}
.main-menus__bg-top {
  position: absolute;
  width: 375px;
  padding-top: 30px;
  margin-bottom: 70px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f2f2f2;
}
.main-menus h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}
.main-menus.btn {
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 50px auto;
  padding: 0px 40px;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 5px 5px #cccccc;
}

.first-part-food {
  padding: 0px 10px;
}
.first-part-food h2 {
  font-size: 20px;
  font-weight: 300;
  width: 14%;
  height: 38px;
  border-bottom: solid 4px #99e2d0;
  padding-top: 5px;
  margin: 30px 0px 20px 10px;
}
.first-part-food h3 {
  font-size: 17px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.first-part-food__box {
  box-shadow: 4px 4px 4px #cccccc;
  height: 70px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
}
.first-part-food__box__price {
  font-weight: 500;
}

.mb-menu {
  margin-bottom: 15px;
}

.box-logo {
  width: 50%;
}
.box-logo__location {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  box-shadow: inset 0px 5px 5px -2px #b3b3b3;
  background-color: #e6e6e6;
}
.box-logo__location__icon {
  margin-right: 20px;
}

.box-title {
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 50px;
}
.box-title p {
  margin: 10px auto;
  font-size: 16px;
  font-weight: 100;
  color: gray;
}
.box-title.btn {
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 50px auto;
  padding: 0px 25px;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 5px 5px #cccccc;
}

.box-function {
  padding-bottom: 30px;
  padding-top: 40px;
}

.header-menu {
  height: 65px;
  margin: auto 20px;
}
.header-menu i {
  font-size: 25px;
  margin-right: 65px;
}

.card {
  background-color: white;
  box-shadow: 5px 5px 5px #cccccc;
  border-radius: 20px;
  position: relative;
}
.card__mb {
  margin-bottom: 30px;
}
.card img {
  height: 174px;
  border-radius: 20px 20px 0px 0px;
}
.card__new {
  box-shadow: 3px 3px 3px #4d4d4d;
  position: absolute;
  height: 30px;
  padding: 0px 10px 0px 10px;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #2c9c81;
}
.card__title {
  padding: 20px;
  height: 75px;
}
.card__title h3 {
  margin-bottom: 5px;
}
.card__title__i {
  max-width: 100%;
  font-size: 30px;
  color: black;
}

/* LES PAGES QUI COMPOSENT LE SITE : SASS */

/*# sourceMappingURL=style.css.map */
