@charset "UTF-8";
/*
Les utilitaires (UTILS), doivent être placés en premier
dans le code de cette page, pour le bon onctionnement de SASS
*/
/*
/////////////////////////////////////////////////////////
/////////////////////// VARIABLES ///////////////////////
/////////////////////////////////////////////////////////
*/
/*
///////////////////////////////////////////////////////////////
                        MIXINS
///////////////////////////////////////////////////////////////
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
          OMBRE PORTÉE SOUS LES CONTAINERS
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        GROS BOUTONS DÉGRADÉ DU ROSE AU VIOLET
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DE LA PAGE D'ACCUEIL
                     (css layout global)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DES PAGES MENUS
                    (css layout global)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            CARTES DES PAGES MENUS avec ANIMATION
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      3 PETITS POINTS APRÈS UN TEXTE TROP LONG
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                              MARGES
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 375px; /* Largeur max du site pour du mobile first */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
/////////////////÷÷//// < a > //////////////////////////
*/
a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: black;
}

button {
  border-style: none;
  background-color: transparent;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  padding-top: 20px;
  margin: auto;
}
.container__01 {
  margin: 20px auto;
  padding: 0px 20px;
}
.container__02 {
  padding: 40px 20px;
}
.container__03 {
  padding: 30px 20px;
}
.container__04 {
  padding: 0px 15px;
}

/*
/////////////////////////////////////////////////////////
/////////////////////// FLEXBOX /////////////////////////
/////////////////////////////////////////////////////////
*/
.d-flex {
  display: flex;
}
.d-flex-fw {
  flex-wrap: wrap;
}
.d-flex-fd-c {
  flex-direction: column;
}
.d-flex-ai-b {
  align-items: baseline;
}
.d-flex-ai-c {
  align-items: center;
}
.d-flex-ai-s {
  align-items: stretch;
}
.d-flex-ai-fe {
  align-items: flex-end;
}
.d-flex-jc-c {
  justify-content: center;
}
.d-flex-jc-sa {
  justify-content: space-around;
}
.d-flex-jc-sb {
  justify-content: space-between;
}

/*
/////////////////////////////////////////////////////////
/////////////////////// MARGES //////////////////////////
/////////////////////////////////////////////////////////
*/
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}

/* Les arguments sont vides, afin de me permettre d'y passer les 4 valeurs,
  attendues pour gérer la prorpiété CSS : (box-shadow: 2px, 5px, 5px, 80%)
  $x:5px, $y:3px, $blur:5px, $pourcentage: 60%
  */
.btn {
  /* BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)  */
  padding: 0px 0px;
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;
  font-size: 16px;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 3px 5px #999999;
}

/* CSS des cartes qui composent les pages menus */
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DES PAGES MENU
                    (sans animation)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.card-layout-menu {
  box-shadow: 5px 3px 5px #cccccc;
  height: 70px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
}
.card-layout-menu__h3 {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 270px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  margin-bottom: 2px;
  margin: 0;
}
.card-layout-menu__p {
  color: #737373;
}
.card-layout-menu__price {
  font-weight: 500;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ANIMATION DU COEUR DES CARTES DE LA PAGE D'ACCUEIL
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°

---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
/*
Classe qui gère l'animation des cœurs
*/
.heart-animation {
  /*
    icone du coeur de la carte.
    passe au premier plan avec "z-index-1",
    pour être accessible au clique
    */
  z-index: 1;
  max-width: 100%;
  font-size: 30px;
}

/* 
(1) On masque le bouton : checkbox par default
ainsi que l'icone "coeur" du second-plan */
.heart-animation input[type=checkbox],
.heart-animation .second-plan {
  display: none;
}

/* (2) Quand l'icone du premier-plan est coché,
elle disparait */
.heart-animation input[type=checkbox]:checked ~ .premier-plan {
  display: none;
}

/* (3) Quand l'icone du premier-plan est coché,
l'icone du second-plan apparait */
.heart-animation input[type=checkbox]:checked ~ .second-plan {
  display: block;
  background-image: linear-gradient(45deg, #ff79da 20%, #9356dc 100%);
  background-size: 100%;
  /* Utiliser le texte comme masque pour l'arrière-plan. */
  /* Cela affichera le dégradé comme une couleur de texte plutôt que comme un élément bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DES PAGES MENU
                    (avec animation)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.check-box {
  box-shadow: 5px 3px 5px #cccccc;
  height: 70px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: white;
  padding-right: 0px;
}
.check-box__h3 {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 270px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
  margin-bottom: 2px;
  margin: 0;
}
.check-box__p {
  color: #737373;
}
.check-box__price {
  font-weight: 500;
}
.check-box__h3 {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.check-box__click-box {
  width: 60px;
  height: 70px;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 5px 3px 5px #cccccc;
  background-color: #99e2d0;
  margin-bottom: -10px;
}
.check-box__click-box i {
  border-radius: 50px;
  color: white;
  font-size: 25px;
}

/* Règles CSS communes à tous le site */
.footer-box {
  background: #333333;
}
.footer-box a,
.footer-box i {
  color: white;
}
.footer-box i {
  margin-right: 5px;
}
.footer-box__logo {
  font-size: 20px;
  color: white;
  font-family: "Shrikhand", cursive;
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.footer-box__txt-color {
  margin: 12px auto;
}

/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                        LOGO DU SITE
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.logo img {
  max-width: 80%;
}

/*# sourceMappingURL=style.css.map */
