@charset "UTF-8";
/*
LES UTILITAIRES :
Ils doivent être à placer en premier dans le code
pour le bon fonctionnement de SASS

UTILS */
/*
/////////////////////////////////////////////////////////
/////////////////////// VARIABLES ///////////////////////
/////////////////////////////////////////////////////////
*/
/*
/////////////////////////////////////////////////////////
//////////////////////// MIXINS /////////////////////////
/////////////////////////////////////////////////////////
*/
/* GLOBAL CSS */
/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 320px; /* Largeur max du site pour du mobile first */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

/*
/////////////////////////////////////////////////////////
///////////////////// LES FONTES ////////////////////////
/////////////////////////////////////////////////////////
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
}

/*
///////////////////// < ul > /////////////////////////////
*/
ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
///////////////////// < a > //////////////////////////////
*/
a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: black;
}

button {
  border-style: none;
  background-color: transparent;
}

/*
///////////////////// < img > //////////////////////////////
*/
img {
  width: 100%;
}

/*
/////////////////////////////////////////////////////////
////////////////////// CONTAINERS ///////////////////////
/////////////////////////////////////////////////////////
*/
.container {
  padding-top: 20px;
  margin: auto;
}
.container__01 {
  margin: 20px auto;
  padding: 0px 20px;
  border: solid 2px rgb(0, 255, 0);
}
.container__02 {
  padding: 40px 20px;
}
.container__03 {
  padding: 30px 20px;
  border: solid 2px rgb(255, 11, 198);
}

/*
/////////////////////////////////////////////////////////
///////////////////////// FLEXBOX ///////////////////////
/////////////////////////////////////////////////////////
*/
.d-flex {
  display: flex;
}
.d-flex-fw {
  flex-wrap: wrap;
}
.d-flex-fd-c {
  flex-direction: column;
}
.d-flex-ai-b {
  align-items: baseline;
}
.d-flex-ai-c {
  align-items: center;
}
.d-flex-ai-s {
  align-items: stretch;
}
.d-flex-jc-c {
  justify-content: center;
}
.d-flex-jc-sa {
  justify-content: space-around;
}
.d-flex-jc-sb {
  justify-content: space-between;
}

/* CONPONENTS */
/* MISES EN PAGES : LAYOUT : SASS */
header {
  background-color: #fafafa;
}

.box-logo {
  width: 50%;
}
.box-logo__location {
  margin-top: 10px;
  width: 100%;
  box-shadow: inset 0px 5px 5px -2px #b3b3b3;
  background-color: #e6e6e6;
}
.box-logo__location__icon {
  margin-right: 20px;
}

nav {
  text-align: center;
}

footer {
  background: #333333;
}
footer a,
footer i {
  color: white;
}
footer svg {
  width: 40%;
}
footer svg path {
  fill: white;
}

/* LES PAGES QUI COMPOSENT LE SITE : SASS */

/*# sourceMappingURL=style.css.map */
