.box-logo {
  width: 50%;

  &__location {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    box-shadow: inset 0px 5px 5px -2px lighten($color-black, 70%);
    background-color: lighten($color-black, 90%);

    &__icon {
      margin-right: 20px;
    }
  }
}

.box-title {
  background-color: lighten($color-black, 97%);
  text-align: center;

  & p {
    margin: 10px auto;
    font-size: 16px;
    font-weight: 100;
    color: lighten($color-black, 50%);
  }
  & button {
    max-width: 100%;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px auto;
    padding: 0px 20px;
    font-size: 16px;
    color: $color-white;
    background: linear-gradient($color-02, $color-01);
    @include shadow-box-size(5px, 80%);
}
}

.box-function,
.box-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
