.test {
  border: solid 0.5px rgb(88, 255, 4);
}

main {
  background-color: lighten($color-black, 97%);
}

.card {
  // border: solid 0.5px rgb(255, 4, 4); //TEST
  background-color: $color-white;

  border-radius: 20px;
  position: relative;

  &__mb {
    margin-bottom: 30px;
  }

  & img {
    height: 174px;
    border-radius: 20px 20px 0px 0px;
  }

  &__new {
    position: absolute;
    height: 30px;
    padding: 0px 10px 0px 10px;
    top: 20px;
    right: 20px;
    background-color: $color-03;
    color: darken($color-03, 35%);
  }
  &__title {
    // position des textes à l'intérieur de la div TITRE.
    padding: 20px;
    height: 75px;
    // border: solid 0.5px rgb(88, 255, 4); //TEST

    &__i {
      max-width: 100%;
      font-size: 30px;
      color: $color-black;
    }
  }
} // fin card

.checkbox-heart-container {
  position: absolute;
  left: 285px;
  bottom: 25px;
  // transform: translate(-50%, -50%);
}

.heart-anim {
  & i {
    width: 100%;
    font-size: 25px;
    color: $color-black;
  }
}

input[type="checkbox"] {
  // display: none;
}

input[type="checkbox"]:checked + .heart-anim {
  color: $color-black;
}

// .before,
// .after {
//   position: absolute;
//   left: 285px;
//   bottom: 25px;

//   &:active,
//   .before {
//     display: none;
//     visibility: hidden;
//   }
// }

// .before {
//   // color: linear-gradient($color-02, $color-01);
//   color: $color-black;
//   background-color: rgb(255, 255, 255);
//   width: 24px;
//   height: 24px;
//   cursor: pointer;
//   z-index: 3;
//   display: flex;
//   flex-direction: row-reverse;
// }

// .after {
//   // color: linear-gradient($color-02, $color-01);
//   color: violet;
//   z-index: 1;
//   &:focus,
//   .after {
//     z-index: 4;
//     display: flex;
//     flex-direction: row-reverse;
//   }
// }
