.main-menus {
  background-color: lighten($color-black, 95%);

  &__bg-top {
    position: absolute;
    width: 375px;
    padding-top: 30px;
    margin-bottom: 70px;
    border-radius: 30px 30px 0px 0px;
    background-color: lighten($color-black, 95%);
  }

  & h1 {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
  }

  &.btn {
    @include btn-shadow(40px);
  }
}

.first-part-food {
  padding: 0px 10px;

  & h2 {
    // TITRE : ENTRÉES / PLATS / DESSERTS
    font-size: 20px;
    font-weight: 300;
    width: 14%;
    height: 38px; // espace entre le titre et le trait.
    border-bottom: solid 4px $color-03;
    padding-top: 5px;
    margin: 30px 0px 20px 10px;
  }

  & h3 {
    // TITRE DES PLATS
    font-size: 17px;
    margin-bottom: 2px;
    text-overflow: ellipsis; // Le texte se termine avec 3 petits points
    overflow: hidden;

    // border: solid 0.1px rgb(255, 162, 0); // TEST
  }

  &__box {
    // Card-menu__box"
    @include shadow-box-size(4px, 80%);
    height: 70px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: $color-white;

    &__price {
      font-weight: 500;
    }
  }
}

.mb-menu {
  // Espace sous les cartes
  margin-bottom: 15px;
}
