/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ENCADRÉ DU MOT "NOUVEAU" SITUÉ SUR LES IMGAGES DES CARTES
           en haut à droite de la page d'accueil
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.box-text-new {
  // Gestion du mot : NOUVEAU
  @include shadow-box-size(2px, 2px, 5px, 10%);
  position: absolute; // En lien avec la DIV parent dans les mixins
  height: 30px;
  padding: 0px 10px 0px 10px;
  top: 20px;
  right: 20px;
  background-color: $color-03;
  color: darken($color-03, 35%);
}
