/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DE LA PAGE D'ACCUEIL
               (Div, qui englobe chaque carte)
                        (ou une carte)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.card-home-layout {
  /*
  DIV : qui englobe chaque carte.
  */
  @include card-home-globals-mixin();

  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  VERSION : TABLETTE
  --------------------------------------------------------------- */
  /*
  DIV : qui englobe chaque carte version tablette et qui,
  (1) Supprime l'espace en dessous de la dernière carte.
  */
  @include tab-med {
    margin-bottom: 0; // (1)
  }
} // fin card

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
              CONTAINER : (qui englobe les 4 cartes)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.card-home-box {
  // border: solid 5px rgb(0, 174, 255); //TEST
  /*
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                CONTAINER : (qui englobe 2 cartes)
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  */
  &__boxes {
    /*
    CSS par défaut
    (1) Supprime les marges à droites sur la version mobile.
    */
    margin-right: 0px; //(1)

    /* 
    °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    VERSION : TABLETTE
    --------------------------------------------------------------- */
    /*
    CONTAINER : qui englobe 2 cartes
    (1) Ajoute une marge en dessous du container supérieur qui englobe 2 cartes.
    */
    @include tab-med {
      display: flex;
      margin-bottom: 20px; // (1)
    }
  }
  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
   VERSION : DESKTOP
  ---------------------------------------------------------------
  */
  @include desk-med-lg1 {
    /*
    (1) Aligne les 2 containers qui englobent chacun 2 cartes.
    (2) Les cartes s'adaptent en largeur dans leurs conteneur.
    (3) Espace entre les cartes.
    */
    display: flex; // (1)

    &__boxes {
      width: 100%; // (2)
    }

    & .mr-20 {
      margin-right: 20px; // (3)
    }
  }
}

/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ENCADRÉ DU MOT "NOUVEAU" SITUÉ SUR LES IMGAGES DES CARTES
           en haut à droite de la page d'accueil
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.box-text-new {
  // Gestion du mot : NOUVEAU
  @include shadow-box-size(2px, 2px, 5px, 10%);
  position: absolute; // En lien avec la DIV parent dans les mixins
  height: 30px;
  padding: 0px 10px 0px 10px;
  top: 20px;
  right: 20px;
  background-color: $color-03;
  color: darken($color-03, 35%);
}
