/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
////////////////////////  AFFICHAGE TABLETTE  ///////////////////////////////
////////////////////////////  Small 600px  //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
@include tab-sm {
  //600px
}

/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////  AFFICHAGE DESKTOP  ///////////////////////////////
//////////////////////////  desktop-sm 850px ////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
@include desk-sm {
  //850px
}

/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////  AFFICHAGE DESKTOP  ///////////////////////////////
/////////////////////////// desktop-sm 992px ////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

@include desk-med {
  //992px
}

/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
///
///
///
///
.carte-container {
  /*
  --------------------------------------------------------
  ENGLOBE TOUTE lA CARTE
  -------------------------------------------------------- */
  @include shadow-box-size(5px, 3px, 5px, 80%);
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: $color-white;

  &__description {
    width: 100%;
    border-radius: 15px;

    &__title {
      width: 80%; // (1) Largeur partagée avec le tarif
      height: auto;
      border-radius: 15px 0px 0px 15px;
      padding: 15px 10px 8px 10px;
      // border: 0.5px solid rgb(213, 52, 246);

      &__h3 {
        // TITRE DES PLATS
        @include three-points-afer-txt();
        font-size: 17px;
        margin-bottom: 3px;
      }

      &__p {
        @include three-points-afer-txt();
        color: lighten($color-black, 45%);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }

    &__tarif {
      width: 20%;
      height: auto;
      border-radius: 0px 15px 15px 0px;
      font-weight: 600;
      font-size: 15px;
      padding: 0px 5px 9px 10px;
      background-color: $color-white;
    }
  }

  &__check {
    width: 0%;
    overflow: hidden; // Cache la DIV du bouton vert.
    background-color: $color-03;
    border-radius: 0px 15px 15px 0px;

    & i {
      border-radius: 50px;
      color: $color-white;
      font-size: 25px;
    }
  }

  /*
  --------------------------------------------------------
  ACTION UTILISATEUR
  -------------------------------------------------------- */

  &:hover {
    .carte-container {
      &__description {
        width: 80%;
        cursor: pointer;
        transition: 700ms;
        border-radius: 15px 0px 0px 15px;

        &__tarif {
          border-radius: 0px;
        }
      }
      &__check {
        width: 20%;
      }
    }
  }
} // FIN classe : .card-container
