/*
--------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                        CARTES DES PAGES MENU
                  AFFICHAGE MOBILE (CSS par défaut)
-------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.card-container {
  /*
  ------------------------------------------------------------------------
 .card-container :classe qui enblobe toute la carte "menu".
  (T) Les cartes s'adaptent en largeur à leur conteneur.
  NE PAS MODIFIER CETTE VALEUR en responsive.
  ------------------------------------------------------------------------ */
  @include shadow-box-size(5px, 3px, 5px, 80%);
  width: 100%; // (T)
  height: 70px;
  border-radius: 15px;
  background-color: $color-03;

  /*
  ------------------------------------------------------------------------
 .card-container__description :
  classe qui enblobe : le h3:titre / <p> paragraphe / <p> tarif

  (Bs-a) = Largeur de la DIV "title" du conteneur "descriptif"
  (Bs-b) = Largeur de la DIV "tarif" du conteneur "descriptif"
  ATTENTION !!!!
  Il est très important de respceter les proportions de division au sein d'un même conteneur.
  Ici le rapport est de : 90% et 10% l'ensemble reste une max-width de 100%.
  ------------------------------------------------------------------------ */

  &__description {
    width: 100%;
    border-radius: 15px;
    // border: 3px solid rgb(213, 52, 246);

    &__title {
      width: 80%; // (Bs-a)
      height: auto;
      border-radius: 15px 0px 0px 15px;
      padding: 13px 10px 8px 15px;
      background-color: $color-white;

      // border: 3px solid rgb(223, 246, 52);

      &__h3 {
        // TITRE DES PLATS
        @include three-points-afer-txt();
        font-size: 17px;
        margin-bottom: 3px;
      }

      &__p {
        @include three-points-afer-txt();
        color: lighten($color-black, 45%);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }

    &__tarif {
      width: 20%; // (Bs-b)
      height: auto;
      border-radius: 0px 15px 15px 0px;
      font-weight: 600;
      font-size: 15px;
      padding: 0px 0px 11px 20px;
      background-color: $color-white;
      // border: 3px solid rgb(52, 143, 246);
    }
  }
  /*
  ------------------------------------------------------------------------
 .card-container__check :
  classe qui englobe : le bouton vert.
  (Bz) La largeur de départ du bouton vert est de width:0%,
  et au click ou au survol il passera ) 20%.
  ------------------------------------------------------------------------ */
  &--check {
    width: 0%; // (Bz)
    overflow: hidden; // propriété qui cache la DIV du bouton vert.
    background-color: $color-03;
    border-radius: 0px 15px 15px 0px;

    & i {
      border-radius: 50px;
      color: $color-white;
      font-size: 25px;
    }
  }

  /*
  ------------------------------------------------------------------------
  ACTION UTILISATEUR
  ------------------------------------------------------------------------ */

  /* 
  (Ai) La DIV "description" passe à 80% (width:80%) au survol et la DIV "tarif" à 20% (width:20%).
  (1a) Quand on click sur l'ensemble de la carte "Menu",
  la DIV "check" qui forme de bouton vert qui a une largeur de départ de 0% (width:0%),
  elle passe à une largeur de 20% (width:20%),  "AU CLICK" ou au "SURVOL" .
  (2a) Ralentis le mouvement du :hover ou du :active
  (3a) Les bordures de la div tarif redeviennent des angles droit, au survol.
   */

  &:active {
    .card-container {
      &__description {
        width: 80%; // (Ai)
        cursor: pointer;
        transition: 600ms; // (2a)
        border-radius: 15px 0px 0px 15px;

        &__tarif {
          border-radius: 0px; // (3a)
        }
      }

      &--check {
        width: 20%; // (1a)

        & i {
          /* ------------------------------------------ */
          /* APPEL DE L'ANIMATION --------------------- */
          /* ------------------------------------------ */
          @include over-circle-mixin;
        }
      }
    }
  }
} // FIN classe : .card-container

/////////////////////////////////////////////////////////////////////////////
////////////////////////  AFFICHAGE TABLETTE  ///////////////////////////////
////////////////////////////  Small 600px  //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

@include tab-sm {
  //600px

  .card-container {
    // width: 100%; // (T)

    /* 
    (T) Les cartes s'adaptent en largeur à leur conteneur.
    NE PAS MODIFIER CETTE VALEUR en responsive.
    */

    /*
    ------------------------------------------------------------------------
   .card-container__description :
    classe qui enblobe : le h3:titre / <p> paragraphe / <p> tarif
    (Bs-a) = Largeur de la DIV "title" du conteneur "descriptif"
    (Bs-b) = Largeur de la DIV "tarif" du conteneur "descriptif"
    ATTENTION !!!!
    Il est très important de respceter les proportions de division au sein d'un même conteneur.
    Ici le rapport est de : 90% et 10% l'ensemble reste une max-width de 100%.

    ------------------------------------------------------------------------ */

    &__description {
      &__title {
        width: 90%; // (Bs-a) Largeur de la DIV "title"
      }

      &__tarif {
        width: 10%; // (Bs-b) Largeur de la DIV "tarif"
        padding: 13px 8px 8px 5px;
      }
    }

    /*
    ------------------------------------------------------------------------
    ACTION UTILISATEUR
    ------------------------------------------------------------------------ */

    /*
    (Ai) La DIV "description" passe à 80% (width:80%) au survol et la DIV "tarif" à 20% (width:20%).
    (1a) Quand on click sur l'ensemble de la carte "Menu",
    la DIV "check" qui forme de bouton vert qui a une largeur de départ de 0% (width:0%),
    elle passe à une largeur de 20% (width:20%),  "AU CLICK" ou au "SURVOL" .
    (2a) Ralentis le mouvement du :hover ou du :active
     */

    &:active {
      .card-container {
        &__description {
          width: 90%; // (Ai)
        }

        &--check {
          width: 10%; // (1a)
        }
      }
    }
  } // FIN classe : .card-container
}

/////////////////////////////////////////////////////////////////////////////
////////////////////////  AFFICHAGE TABLETTE  ///////////////////////////////
////////////////////////////  Medium 768px  //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

@include tab-med {
  //768px

  .card-container {
    &__description {
      &__tarif {
        padding-left: 25px;
      }
    }

    /*
    ------------------------------------------------------------------------
    ACTION UTILISATEUR
    ------------------------------------------------------------------------ */

    /*
    (Ai) La DIV "description" passe à 80% (width:80%) au survol et la DIV "tarif" à 20% (width:20%).
    (1a) Quand on click sur l'ensemble de la carte "Menu",
    la DIV "check" qui forme de bouton vert qui a une largeur de départ de 0% (width:0%),
    elle passe à une largeur de 20% (width:20%),  "AU CLICK" ou au "SURVOL" .
    (2a) Ralentis le mouvement du :hover ou du :active
     */

    &:active {
      .card-container {
        &__description {
          width: 90%; // (Ai)
        }

        &--check {
          width: 10%; // (1a)
        }
      }
    }
  } // FIN classe : .card-container
}

/////////////////////////////////////////////////////////////////////////////
/////////////////////////  AFFICHAGE DESKTOP  ///////////////////////////////
//////////////////////////  desktop-sm 850px ////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

@include desk-sm {
  //850px
  .card-container {
    // width: 100%; // (T)

    &__description {
      &__title {
        width: 80%; // (Bs-a) Largeur de la DIV "title"
      }

      &__tarif {
        width: 20%; // (Bs-b) Largeur de la DIV "tarif"
        padding: 13px 8px 8px 5px;
      }
    }

    &:hover {
      .card-container {
        &__description {
          width: 80%; // (Ai)
          cursor: pointer;
          transition: 600ms; // (2a)
          border-radius: 15px 0px 0px 15px;

          &__tarif {
            border-radius: 0px; // (3a)
          }
        }

        &--check {
          width: 20%; // (1a)

          & i {
            /* ------------------------------------------ */
            /* APPEL DE L'ANIMATION --------------------- */
            /* ------------------------------------------ */
            @include over-circle-mixin;
          }
        }
      }
    }
  } // FIN classe : .card-container
}

/////////////////////////////////////////////////////////////////////////////
/////////////////////////  AFFICHAGE DESKTOP  ///////////////////////////////
/////////////////////////// desktop-sm 992px ////////////////////////////////
/////////////////////////////////////////////////////////////////////////////

@include desk-med-lg1 {
  //992px / 1100px
  .card-container {
    &__description {
      &__tarif {
        padding-left: 15px;
      }
    }
  } // FIN classe : .card-container
}

@include desk-lg2 {
  //1200px
  .card-container {
    &__description {
      &__tarif {
        padding-left: 25px;
      }
    }
  } // FIN classe : .card-container
}

@include desk-lg3 {
  //1300px
  .card-container {
    &__description {
      &__title {
        width: 80%; // (Bs-a) Largeur de la DIV "title"
      }
      &__tarif {
        width: 20%; // (Bs-b) Largeur de la DIV "tarif"

        padding-left: 25px;
        padding-right: 35px;
      }
    }
  } // FIN classe : .card-container
}
