.lunches-time-title {
  // TITRE : Plats, Entrées, Desserts.
  font-size: 20px;
  font-weight: 300;
  width: 14%; // Largeur du trait sous le titre
  height: 38px; // espace entre le titre et le trait
  border-bottom: solid 4px $color-03;
  padding-top: 5px;
  margin: 30px 0px 10px 10px;
  color: lighten($color-black, 50%);
}
