/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ANIMATION DU COEUR DES CARTES DE LA PAGE D'ACCUEIL
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
POUR INFO :
Comme hover ou active ":checked" permet de cibler les boutons cochés.
*/

/*
Classe qui gère l'animation des cœurs
*/

.heart-animation {
  /*
    icone du coeur de la carte.
    passe au premier plan avec "z-index-1",
    pour être accessible au clique
    */
  z-index: 1;

  // icone du coeur
  max-width: 100%;
  font-size: 30px;
}

/* 
(1) On cible 2 éléments pour les masquer au chargement de la page :
(a) le bouton checkbox par default.
(b) l'icone "coeur" du second-plan
*/
.heart-animation {
  input[type="checkbox"], // (1a)
  .second-plan // (1b)
  {
    display: none;
  }
}

/*
(2a) Quand l'input est cochée, ":checked"
Grâce au combinateur "~" on cible les classes des élémnents qui se situent, tout de suite après l'input.
Donc, tout de suite après l'input...
(2b) Je cible l'icone du ".premier-plan", pour faire disparaitre son bloc
*/

.heart-animation {
  & input[type="checkbox"]:checked // (2a)
  ~ .premier-plan  // (2b)
  {
    display: none;
  }
}

/*
(3a) Quand l'input est cochée, ":checked"
Grâce au combinateur "~" on cible les classes des élémnents qui se situent, tout de suite après l'input.
Donc, tout de suite après l'input...
(3b) Je cible l'icone du "second plan", pour faire apparaitre son bloc
*/

.heart-animation {
  & input[type="checkbox"]:checked // (3a)
  ~ .second-plan // (3b)
  {
    display: block;

    // APPEL DE L'ANIMATION :
    background-image: linear-gradient(45deg, $color-02 20%, $color-01 100%);
    background-size: 100%;
    /* Utiliser le texte comme masque pour l'arrière-plan. */
    /* Cela affichera le dégradé comme une couleur de texte plutôt que comme un élément bg. */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/*
(3c) LA PROPRITÉTÉ : background-clip
Définit la manière dont l'arrière plan d'un élément s'étend sous la boite de cet éléments.
1) Est-ce que l'arrière plan s'etend jusqu'à la bordure du bloc ?
2) Est-ce que l'arrière plan s'etend jusqu'aux paddind du bloc ?
3) Est-ce que l'arrière plan s'etend jusqu'au contenu du bloc ?
4) Est-ce que l'arrière plan s'etend seulement au text contenu dans le bloc ?
Dans ce dernier cas, pour que l'arrière plan apparaisse dans le texte,
il faudra que la couleur d'origine ou par defaut du texte soit TRANSPARENTE.
*/
