/*
///////////////////////////////////////////////////////////////
                        MIXINS
///////////////////////////////////////////////////////////////
*/

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
          OMBRE PORTÉE SOUS LES CONTAINERS
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin shadow-box-size($x: 5px, $y: 3px, $blur: 5px, $pourcentage: 60%) {
  box-shadow: $x $y $blur lighten($color-black, $pourcentage);
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        GROS BOUTONS DÉGRADÉ DU ROSE AU VIOLET
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin btn-shadow($padding: 0px) {
  /* BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)  */
  padding: 0px ($padding);
  // =====
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;

  font-size: 16px;
  color: $color-white;
  background: linear-gradient($color-02, $color-01);
  @include shadow-box-size();
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DE LA PAGE D'ACCUEIL
                     (css layout global)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin card-home-globals {
  // DIV : qui englobe toute la carte

  /*
  CLASSE :
  .card-home-layout
  */
  background-color: $color-white;
  @include shadow-box-size(5px, 3px, 5px, 80%);
  border-radius: 20px;
  position: relative;

  &__img {
    // BLOC : image de la carte

    /*
    CLASSE :
    .card-home-layout__img
    */
    height: 174px;
    border-radius: 20px 20px 0px 0px;
  }

  &__box-title {
    /*
    Position intérieure des textes,
    dans la DIV qui contient :
    (1) Le nom de restaurant
    (2) Le lieu
    */

    /*
    CLASSE :
    .card-home-layout__box-title
    */
    padding: 20px;
    height: 75px;
  }

  &__h3 {
    // Nom du restaurant
    /*
    CLASSE :
    .card-home-layout__h3
    */
    margin-bottom: 3px;
    // border: solid 1px rgb(30, 0, 255); //TEST
  }
  /*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    ANIMATION DU COEUR DES CARTES DE LA PAGE D'ACCUEIL
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
  &__principal-link::before {
    /* Cette classe est placée sur le lien qui est considéré
    comme le plus important. Le lien prioritaire de la carte.
    Lapropriété "inset : 0" rend toute la carte cliquable depuis ce lien */
    content: "";
    position: absolute;
    border-radius: 20px;
    // border: solid 6px rgb(89, 255, 56);
    // background-color: rgb(0, 89, 255);
    inset: 0;
  }

  // &__heart-animation {
  // }
} // find mixin : card-home-globals

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DES PAGES MENUS
                    (css layout global)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
@mixin card-layout-menu {
  //CARD PAGE MENU sans animation
  @include shadow-box-size(5px, 3px, 5px, 80%);

  height: 70px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: $color-white;

  &__h3 {
    // TITRE DES PLATS
    @include three-points-afer-txt(270px);
    font-size: 17px;
    margin-bottom: 2px;
    margin: 0;
  }

  &__p {
    color: lighten($color-black, 45%);
  }

  &__price {
    font-weight: 500;
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            CARTES DES PAGES MENUS avec ANIMATION
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      3 PETITS POINTS APRÈS UN TEXTE TROP LONG
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin three-points-afer-txt($width: 100px) {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  // -----------------------------------------------------------------------------------------//
  width: $width; // (1) Définir une largeur.
  white-space: nowrap; // (2) Empêcher le retour à la ligne.
  text-overflow: ellipsis; // (3) Propritée qui affecte les 3 petits points.
  overflow: hidden; // (4) Cacher le texte qui dépasse de la largeur imposée par le bloc parent.
  // border: 1px solid red; // TEST

  // -----------------------------------------------------------------------------------------//
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                              MARGES
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
