/*
///////////////////////////////////////////////////////////////
                        MIXINS
///////////////////////////////////////////////////////////////
*/

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
          OMBRE PORTÉE SOUS LES CONTAINERS
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin shadow-box-size($x: 5px, $y: 3px, $blur: 5px, $pourcentage: 60%) {
  box-shadow: $x $y $blur lighten($color-black, $pourcentage);
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        GROS BOUTONS DÉGRADÉ DU ROSE AU VIOLET
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin btn-shadow($padding: 0px) {
  /*
  BOUTONS DÉGRADÉ DU ROSE AU VIOLET :
  Il permet d'ajuster la largeur des boutons, en fonction
  de la charte graphique grâce à la variable : ($padding)
  */

  padding: 0px ($padding);
  // =====
  max-width: 100%;
  height: 50px;
  cursor: pointer;
  border-radius: 50px;
  margin: 20px auto 40px auto;

  font-size: 16px;
  color: $color-white;
  background: linear-gradient($color-02, $color-01);
  @include shadow-box-size();
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                  CARTES DE LA PAGE D'ACCUEIL
                     (css layout global)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin card-home-globals {
  // DIV : qui englobe toute la carte

  /*
  CLASSE :
  .card-home-layout
  */
  background-color: $color-white;
  @include shadow-box-size(5px, 3px, 5px, 80%);
  border-radius: 20px;
  width: 100%;
  position: relative;

  &__img {
    // BLOC : image de la carte

    /*
    CLASSE :
    .card-home-layout__img
    */
    height: 174px;
    border-radius: 20px 20px 0px 0px;
  }

  &__box-title {
    /*
    Position intérieure des textes,
    dans la DIV qui contient :
    (1) Le nom de restaurant
    (2) Le lieu
    */

    /*
    CLASSE :
    .card-home-layout__box-title
    */
    padding: 20px;
    height: 75px;
  }

  &__h3 {
    // Nom du restaurant
    /*
    CLASSE :
    .card-home-layout__h3
    */
    margin-bottom: 3px;
    // border: solid 1px rgb(30, 0, 255); //TEST
  }

  /*
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        ANIMATION DU COEUR DES CARTES DE LA PAGE D'ACCUEIL
  ---------------------------------------------------------------
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  */

  &__principal-link::before {
    /*
    Cette classe est placée sur le lien qui est considéré comme le plus
    important. Le lien prioritaire de la carte. La propriété "inset : 0"
    rend toute la carte cliquable depuis ce lien
    */
    content: "";
    position: absolute;
    border-radius: 20px;
    inset: 0;
  }
} // find mixin : card-home-globals

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        MIXIN DES ANIMATIONS : "CARTES PAGES MENUS"
      (Mixin de l'effet d'opacité progressive des cartes)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
@mixin effet-revelation-carte-mix {
  animation-name: revelation-menu-cards;
  animation-timing-function: cubic-bezier(
    0,
    0.63,
    0.34,
    0.97
  ); // Fluidité de l'animation.
  animation-duration: 1.5s; // Durée animation d'1.5s pour 1 cycle.
  animation-delay: 1700ms; // Délais début démarrage animation.
  animation-fill-mode: backwards; // Applique la premier règle du Keyframes
}

/*
---------------------------------------------------------------
CRÉATION DE L'ANIMATION : de révélation progressives des cartes menu.
@keyframes (name): revelation-menu-cards
=> appelée par la @mixin (ci-dessus) : "effet-revelation-carte-mix"
au niveau de : animation-name: revelation-menu-cards;
---------------------------------------------------------------
 */
@keyframes revelation-menu-cards {
  0% {
    opacity: 0;
    transform: translate(0px, 15px);
  }

  100% {
    opacity: 1;
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        CLASSES QUI GÈRE L'ORDRE D'APPARITION PROGRESSIVE
      (Mixin de l'effet d'opacité progressive des cartes)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.carte-1 {
  @include effet-revelation-carte-mix();
  animation-delay: 500ms; // Délais début démarrage animation.
}

.carte-2 {
  @include effet-revelation-carte-mix();
  animation-delay: 800ms; // Délais début démarrage animation.
  // top: 64px;
}

.carte-3 {
  @include effet-revelation-carte-mix();
  animation-delay: 1100ms; // Délais début démarrage animation.
  // top: 28px;
}

.carte-4 {
  @include effet-revelation-carte-mix();
  animation-delay: 1400ms; // Délais début démarrage animation.
  // top: 42px;
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        ANIMATION : DU BOUTON CIRCULAIRE DES PAGES MENU
  (Effet de l'icone tournante du bouton vert, des cartes menu)
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin over-circle-mix {
  animation-name: over-circle;
  animation-delay: 0s; // elle démarre tout de suite.
  animation-duration: 800ms; // Durée animation d'1 cycle.
  animation-fill-mode: forwards; /* "forwards" Applique les CSS de la dernière @Keyframe */
}

/*
---------------------------------------------------------------
CRÉATION DE L'ANIMATION : de rotation de l'icône du bouton vert.
@keyframes (name) : over-circle
=> appelée par la @mixin (ci-dessus) : "over-circle-mix"
au niveau de : animation-name: over-circle;
---------------------------------------------------------------
 */

@keyframes over-circle {
  0% {
    transform: rotate(-190deg);
    // background-color: red; // TEST
  }

  100% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0.95, 0.38, 1.31);
    // background-color: red; // TEST
  }
}
/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      3 PETITS POINTS APRÈS UN TEXTE TROP LONG
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin three-points-afer-txt($width: 95%) {
  /* 
  Effet de texte se terminant par 3 petits points
   */
  // -----------------------------------------------------------------------------------------//
  width: $width; // (1) Définir une largeur de bloc.
  white-space: nowrap; // (2) Empêcher le retour à la ligne.
  text-overflow: ellipsis; // (3) Propritée qui affecte les 3 petits points.
  overflow: hidden; // (4) Cacher le texte qui dépasse de la largeur imposée par le bloc parent.
  // border: 1px solid red; // TEST

  // -----------------------------------------------------------------------------------------//
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                     MEDIAS QUERIES
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

// BREAKPOINTS :::::::::::::::::::::::::::::::::::::::: //

$breakpoints: (
  // MAP : tablettes
  tablet-sm: 600px,
  tablet-med: 768px,

  // MAP : desktop
  desktop-sm: 850px,
  desktop-med: 992px,
  desktop-lg1: 1100px,
  desktop-lg2: 1200px,
  desktop-lg3: 1300px
);
//
//
//
/*
---------------------------------------------------------------
 AFFICHAGE : TABLETTE
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 768px
               L'affichage adapté aux : "TABLETTES"
---------------------------------------------------------------
DEFINITION :
La fonction : map-get(), permet de retourner une valeur associée
à une clé:valeur, définie dans une map.
$size : correspond à un ensemble "clé/valeur" attendu comme argument.

*/

@mixin tablet-screens($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
} // @include tablette-screen{}

/*
---------------------------------------------------------------
MIXIN : TABLETTE Abrégées
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin tab-sm {
  // 600px
  @include desktop-screens(tablet-sm) {
    @content;
  }
}

@mixin tab-med {
  // 768px
  @include desktop-screens(tablet-med) {
    @content;
  }
}

/*
---------------------------------------------------------------
MIXIN : TABLETTE Abrégées par groupes
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin tab-sm-med {
  // 600px
  @include desktop-screens(tablet-sm) {
    @content;
  }
  // 768px
  @include desktop-screens(tablet-med) {
    @content;
  }
}
//
//
//
//
/*
---------------------------------------------------------------
/* AFFICHAGE : DESKTOP
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 992px
                L'affichage adapté aux : "DESKTOP"
---------------------------------------------------------------
*/

@mixin desktop-screens($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
} // @include desktop-screen(desktop-med){}

/*
---------------------------------------------------------------
MIXIN : DESKTOP Abrégées
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin desk-sm {
  // 850px
  @include desktop-screens(desktop-sm) {
    @content;
  }
}

@mixin desk-med {
  // 992px
  @include desktop-screens(desktop-med) {
    @content;
  }
}

@mixin desk-lg1 {
  // 1100px
  @include desktop-screens(desktop-lg1) {
    @content;
  }
}

@mixin desk-lg2 {
  // 1200px
  @include desktop-screens(desktop-lg2) {
    @content;
  }
}

@mixin desk-lg3 {
  // 1300px
  @include desktop-screens(desktop-lg3) {
    @content;
  }
}

/*
---------------------------------------------------------------
MIXIN : DESKTOP Abrégées par groupes
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

@mixin desk-sm-med {
  // 850px
  @include desk-sm {
    @content;
  }
  // 992px
  @include desk-med {
    @content;
  }
}

@mixin desk-med-lg1 {
  // 992px
  @include desk-med {
    @content;
  }
  // 1100px
  @include desk-lg1 {
    @content;
  }
}

@mixin desk-sm-med-lg1 {
  // 850px
  @include desk-sm {
    @content;
  }
  // 992px
  @include desk-med {
    @content;
  }
  // 1100px
  @include desk-lg1 {
    @content;
  }
}
