/*
/////////////////////////////////////////////////////////
/////////////////////// VARIABLES ///////////////////////
/////////////////////////////////////////////////////////
*/

// COULEURS DU SITE ::::::::::::::::::::::::::::::::::: //

$color-black: black;
$color-white: white;
$color-01: #9356dc;
$color-02: #ff79da;
$color-03: #99e2d0;



