.box-logo {
  width: 50%;

  &__location {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    box-shadow: inset 0px 5px 5px -2px lighten($color-black, 70%);
    background-color: lighten($color-black, 90%);

    &__icon {
      margin-right: 20px;
    }
  }
}

.box-title {
  // TITRE : RÉSERVEZ LE MENU QUI VOUS CONVIENT
  background-color: lighten($color-black, 97%);
  text-align: center;
  padding-top: 50px;

  & p {
    margin: 10px auto;
    font-size: 16px;
    font-weight: 100;

    color: lighten($color-black, 50%);
  }

  &.btn {
    
    @include btn-shadow(25px);
      // border: solid 1px rgb(0, 213, 255); //TEST

  }
}

.box-function {
  // SECTION : FONCTIONNEMENT
  padding-bottom: 30px;
  padding-top: 40px;
}
