/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      SECTION     >     LOGO      >     LOCALISATION
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.box-home-logo {
  // SECTION : localisation & Ville

  &__location {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    box-shadow: inset 0px 5px 5px -2px lighten($color-black, 70%);
    background-color: lighten($color-black, 90%);
    border: solid 1px rgb(0, 213, 255); //TEST

    &__icon {
      margin-right: 10px;
    }

    & input {
      font-size: 16px;
      font-weight: 500;
      width: 50%;
      background-color: transparent;
      border: solid transparent;
    }

    & input::placeholder {
      /* Permet de cibler le pseudo-element placeholder dans l'input texte */
      color: $color-black;
      opacity: 1;
    }
  }

  @include tab-med {
    // 992px
    &__location {
      display: flex;
      justify-content: flex-start;

      & input {
        width: 100%;
      }

      &__icon {
        margin-left: 30px;
      }
    }
  }
}

/*
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      TITRE PAGE (h1)+ BOUTON : Explorez nos restaurants
---------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.box-title {
  // TITRE : "Réservez le menu qui vous convient"
  background-color: lighten($color-black, 97%);
  text-align: center;
  padding-top: 50px;

  & p {
    margin: 10px auto;
    font-size: 16px;
    font-weight: 100;
    color: lighten($color-black, 50%);
  }

  &.btn {
    @include btn-shadow(25px);
  }

  /* TABLETTE
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
            Si l'écran est supérieur ou égal à : 768px
               L'affichage adapté aux : "TABLETTES"
  ---------------------------------------------------------------
  */

  @include tab-med {
    //CLASSE => .box-title
    // TITRE : RÉSERVEZ LE MENU QUI VOUS CONVIENT

    p,
    h1 {
      margin-left: 20px;

      display: flex;
      justify-content: flex-start;
      align-items: left;
    }

    br {
      display: none;
    }

    & div {
      /*
      DIV qui englobe le bouton :
      Explorer nos restaurants
      */
      align-self: flex-end;
      padding-right: 20px;
    }
  }
}
