/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      FLÈCHE DE NAVIGATION (de retour à la page d'accueil)
            présent sur l'entête des pages "menu"
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.nav-return-home {
  height: 65px;
  display: flex;
  justify-content: stretch;

  & i {
    font-size: 25px;
  }
}

.portrait-img {
  // object-position: 50% 50%; // positionne l'image dans son container.
  // overflow: hidden; // Permet de cacher, tout ce qui dépasse du conteneur secondaire.
  // object-fit: cover;
  // border: solid 2px rgb(0, 157, 255); //TEST
  height: 260px;
}
