/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      FLÈCHE DE NAVIGATION (de retour à la page d'accueil)
            présent sur l'entête des pages "menu"
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.nav-return-home {
  height: 65px;
  display: flex;
  justify-content: stretch;

  & i {
    font-size: 25px;
  }
}

.portrait-img {
  height: 260px;
}
