/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
      FLÈCHE DE NAVIGATION (de retour à la page d'accueil)
            présent sur l'entête des pages "menu"
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.nav-return-home {
  height: 65px;
  display: flex;
  justify-content: stretch;

  & i {
    font-size: 25px;
  }
}

/*
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
        GESTION DES IMAGES D'EN-TÊTE DES PAGES MENU
------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
Cette classe à été créée pour gérér une image dont le format est en portrait,
alors que toutes les autres sont à l'Horizontale.
Mais en appliquant cette classe aux images à l'Horizontale, elles s'adaptent,
très bien de manière responsive en leur assignant une contrainte de hauteur.
*/

.portrait-img {
  //(1)
  // MENU : "La note enchantée"
  height: 260px;
  // border: solid 2px red;
}

.img-03 {
  //(1)
  // MENU : "A la Française"
  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  VERSION TABLETTE
  —---------------------------------------------------------------
  */
  @include tab-med {
    object-position: 0px 70%;
    // border: solid 2px rgb(0, 255, 13);
  }

  /* 
  °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  VERSION DESKTOP
  —---------------------------------------------------------------
  */
  @include desk-sm-med-lg1 {
    object-position: 0px 63%;
    // border: solid 2px rgb(0, 21, 255);
  }
}
