/*
--------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                            MAIN MENU
-------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/

.main-menu-page {
  // MAIN-menu : global css
  background-color: lighten($color-black, 95%);

  &__bg-top {
    // BLOC : aux bords arrondis, au dessus du nom du restaurant //
    width: 100%;
    padding: 30px 25px 0px 25px;
    margin-top: -50px;
    border-radius: 30px 30px 0px 0px;
    background-color: lighten($color-black, 95%);
  }

  & h1 {
    // TITRE : Nom du restaurant //
    font-family: "Shrikhand", cursive;
    font-size: 25px;
  }

  // ==== MAIN (bas de page)=======================//
  &.btn {
    // BOUTON : Commander en bas de page //
    @include btn-shadow(40px);
  }
}

/*
--------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
                    CONTAINER DES CARTES MAIN MENU
-------------------------------------------------------------------------
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
*/
.main-cards-container {
  /* 
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  AFFICHAGE MOBILE
  Permet que les cartes du "menu" s'adaptent à la largeur de leur container
  —------------------------------------------------------------------------
   */

  width: 100%;

  &__entrees {
    width: 100%;
    margin-right: 20px;
  }

  &__plats {
    width: 100%;
    margin-right: 20px;
  }

  &__desserts {
    width: 100%;
  }

  /* 
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
  AFFICHAGE TABLETTE
  —-----------------------------------------------------------------------
  */

  @include tab-med {
    //768px
    padding: 0px 25px;
    display: flex;
    // border: solid 1px greenyellow;
  }

  /* 
°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°
    AFFICHAGE DESKTOP
  —-----------------------------------------------------------------------
  */
  @include desk-sm {
    //850px / 992px / 1100px / 1300px
    padding: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // border: solid 1px greenyellow;

    &__entrees {
      width: 32%;
      margin-right: 0px;
    }

    &__plats {
      width: 32%;
      margin-right: 0px;
    }

    &__desserts {
      width: 32%;
    }
  }
} // FIN classe : .main-cards-containe
