.footer-box {
  background: lighten($color-black, 20%);

  & a,
  i {
    // Couleur des icônes et des liens
    color: $color-white;
  }

  & i {
    // Marges à droite des icônes
    margin-right: 5px;
  }

  &__logo {
    // logo
    font-size: 20px;
    color: $color-white;
    font-family: "Shrikhand", cursive;
    margin-bottom: 15px;
    letter-spacing: 1px;
  }

  &__txt-color {
    // les 4 lignes de textes
    margin: 12px auto;
    // border: solid 0.2px rgb(82, 80, 80); // TEST
  }
}
