/*
/////////////////////////////////////////////////////////
///////////////////// GLOBAL CSS ////////////////////////
/////////////////////////////////////////////////////////
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box; /* facilite et simplifie la gestion de la taille des éléments d'un navigateur à l'autre */
  max-width: 1440px; /* Largeur max du site */
  height: auto; /* Permet au site de ne pas avoir de blanc sous le footer */
  margin: auto; /* A pour effet de centrer le site dans la page du navigateur */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
  color: $color-black;
}

///////////////////// < titles > ////////////////////////

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
///////////////////////// < p > ////////////////////////

p {
  margin: 0;
  padding: 0;
}

///////////////////// < ul > ///////////////////////////

ul,
li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/*
/////////////////÷÷//// < a > //////////////////////////
*/

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  margin: 0;
  padding: 0;
  color: $color-black;
}

///////////////////// < button > ///////////////////////

button {
  border-style: none;
  background-color: transparent;
}

///////////////////// < img > //////////////////////////

img {
  width: 100%;
  object-fit: cover;
}

///////////////////// < width > //////////////////////////

/////////////////////////////////////////////////////////
////////////////////// CONTAINERS ///////////////////////
/////////////////////////////////////////////////////////

.container {
  padding-top: 20px;
  margin: auto;
  // border: solid 1px rgb(255, 5, 138); //TEST
  // MARGES : HautBas = 0px / DroiteGauche = auto.

  @include tab-med {
    margin-left: 40px;
    margin-right: 40px;
    padding-right: 0px;
    // border: solid 2px rgb(34, 255, 0); //TEST
  }

  &__01 {
    //container__01
    margin: 20px auto;
    padding: 0px 20px;

    // MARGES : HautBas = 20px / DroiteGauche = auto.
    // PADDING : HautBas = 0px / DroiteGauche = 20px.

    @include tab-med {
      margin: 40px;
      padding-right: 0px;
    }
  }

  &__02 {
    //container__02
    padding: 40px 20px;
    // MARGES : container__02.
    // PADDING : HautBas = 40px / DroiteGauche = 20px.

    @include tab-med {
      padding-left: 50px;
      padding-right: 50px;
    }

    @include desk-sm-med-lg1 {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &__03 {
    //container__03
    padding: 30px 20px;
    // MARGES : container__01.
    // PADDING : HautBas = 40px / DroiteGauche = 20px.
    @include tab-med {
      padding: 30px 50px;
    }
  }

  &__04 {
    // Est utilisé pour les pages menu
    //container__04
    padding: 0px 15px;
    // border: solid 2px rgb(255, 21, 0); //TEST

    @include tab-med {
      padding: 30px 50px;
      // border: solid 2px rgb(255, 21, 0); //TEST
    }
  }
}

/*
/////////////////////////////////////////////////////////
/////////////////////// FLEXBOX /////////////////////////
/////////////////////////////////////////////////////////
*/

.d-flex {
  display: flex;

  &-fw {
    //flex d-flex-fw
    flex-wrap: wrap;
  }

  &-fd-c {
    //flex d-flex-fd-c
    flex-direction: column;
  }

  &-ai-b {
    //flex d-flex-ai-b
    align-items: baseline;
  }

  &-ai-c {
    //flex d-flex-ai-c
    align-items: center;
  }

  &-ai-s {
    //flex d-flex-ai-s
    align-items: stretch;
  }

  &-ai-fe {
    //flex d-flex-ai-fe
    align-items: flex-end;
  }

  &-jc-fe {
    //flex d-flex-jc-fe
    justify-content: flex-end;
  }

  &-jc-c {
    //flex d-flex-jc-c
    justify-content: center;
  }

  &-jc-sa {
    //flex d-flex-jc-sa
    justify-content: space-around;
    // Laisse des espaces à droite et à gauche
  }

  &-jc-sb {
    //flex d-flex-jc-sb
    justify-content: space-between;
  }
}

/*
/////////////////////////////////////////////////////////
/////////////////////// MARGES //////////////////////////
/////////////////////////////////////////////////////////
*/

.m {
  // TOP

  &t-10 {
    margin-top: 10px;
  }

  &t-15 {
    margin-top: 15px;
  }

  &t-20 {
    margin-top: 20px;
  }

  &t-30 {
    margin-top: 30px;
  }

  // RIGHT

  &r-10 {
    margin-right: 10px;
  }

  &r-15 {
    margin-right: 15px;
  }

  &r-20 {
    margin-right: 20px;
  }

  &r-30 {
    margin-right: 30px;
  }

  // BOTTOM

  &b-10 {
    margin-bottom: 10px;
  }

  &b-15 {
    margin-bottom: 15px;
  }

  &b-20 {
    margin-bottom: 20px;
  }

  &b-30 {
    margin-bottom: 30px;
  }

  &b-40 {
    margin-bottom: 40px;
  }

  &b-50 {
    margin-bottom: 50px;
  }

  // LEFT

  &l-10 {
    margin-left: 10px;
  }

  &l-15 {
    margin-left: 15px;
  }

  &l-20 {
    margin-left: 20px;
  }

  &l-30 {
    margin-left: 30px;
  }
}
